{% from "mst/MBDB/PersonName.jinja" import person_name %}
  

{%- macro depositors(gp) %} 
{% if (gp.get("depositors"))%}
  {% set depos = gp.get("depositors", {}) %} 
  {% set people = [
    person_name(depos.principal_contact),
    person_name(depos.depositor),
     ] %}
  {% if depos.contributors is defined %}
    {% for contributor in depos.contributors %}
      {% do people.append(person_name(contributor)) %}
    {% endfor %}
  {% endif %}  
{{ people|join(", ") }}
{% endif %}
{% endmacro %}
