{% import "mst/MBDB/NameValue/Index.jinja" as nv %}

{%- macro instrument(imt) %}
  {{ nv.list_open() }}
    {{ nv.item("Manufacturer", imt.manufacturer) }}
    {{ nv.item("Name", imt.name) }}
  {{ nv.list_close() }}
{%- endmacro %}
