{# def value #}

{% if value.unit._is_empty %}
    {{ value.value }}
{% else %}
    {{ value.value ~ " " ~ value.unit }}
{% endif %}

{% if value.value_error._is_empty %}
    (Error not provided)
{% else %}
    {% set error_type = " %" if value.value_error.errors_are_relative == True else "" %}
    (+ {{ value.value_error.upper_error }}
     - {{ value.value_error.lower_error }}) {{ error_type }}
{% endif %}
