{# def raw_measurements, files #}

{% for measurement_url in array(raw_measurements) %}
    {% for file in files.entries %}
        {% if "files/" + file.key == measurement_url %}
            <a href="{{file.links.content}}" target="_blank">Download</a>
            Description:{{file.metadata.description.description}}
        {% endif %}
    {% endfor %}
{% endfor %}

