{# def md, links #}

<div class="flex justify-between mb-8">
  <div class="font-JostMedium text-30px lg:text-40px">
    <IValue value={ md.general_parameters.record_information.title } placeholder="(Record has no title)"/>
  </div>
  <div class="flex">
    <div class="mx-4">
        <a
            class="flex justify-center w-[160px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
            href="{{ links.edit }}"
            type="application/json"
            role="button"
        >
          <button class="px-4">
            Edit
          </button>
        </a>
    </div>
    <div>
        <a
            class="flex justify-center w-[160px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
            href="{{ links.self }}"
            type="application/json"
            role="button"
        >
          <button class="px-4">
            Download entry
          </button>
        </a>
    </div>
  </div>
</div>
