{% from "mst/Common/RenderIf.jinja" import render_if_exists %}

{%- macro record_header(title, ui) %}
  <div class="mbdbv-record-header-container">
    <div class="mbdbv-h2-title">
      <div class="mbdbv-record-title">
        {{ render_if_exists(title, "(Record has no title)") }}
      </div>
      <span class="mbdbv-h2-underline"></span>
    </div>
    <div class="mbdbv-record-buttons">
      <div class="mbdbv-record-download-button">
          <a
              class=""
              href="/mst/{{ ui.id }}/edit"
              type="application/json"
              role="button"
          >
            <button>
              Edit
            </button>
          </a>
      </div>
      <div class="mbdbv-record-download-button">
          <a
              class=""
              href="/api/records/mst/{{ ui.id }}/draft"
              type="application/json"
              role="button"
          >
            <button>
              Download entry
            </button>
          </a>
      </div>
    </div>
  </div>
{%- endmacro %}
