{# def md, links #}

<div class="mbdbv-record-header-container">
<div class="mbdbv-h2-title">
  <div class="mbdbv-record-title">
    <IValue value={ md.general_parameters.record_information.title } placeholder="(Record has no title)"/>
  </div>
  <span class="mbdbv-h2-underline"></span>
</div>
<div class="mbdbv-record-buttons">
  <div class="mbdbv-record-download-button">
      <a
          class=""
          href="{{ links.edit }}"
          type="application/json"
          role="button"
      >
        <button>
          Edit
        </button>
      </a>
  </div>
  <div class="mbdbv-record-download-button">
      <a
          class=""
          href="{{ links.self }}"
          type="application/json"
          role="button"
      >
        <button>
          Download entry
        </button>
      </a>
  </div>
</div>
</div>
