{% import "mbdb/invenio_notifications/email/_layout.jinja" as layout %}
{% import "mbdb/invenio_notifications/email/_macros.jinja" as m %}

{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set rec_info = topic.metadata.general_parameters.record_information %}

{% set topic_id = topic.id %}
{% set topic_title = rec_info.title %}
{% set request_html_page = request.links.self_html %}

{%- block subject -%}
{{ _("UPDATE: Your record '{topic_id}' requires revisions").format(topic_id=topic_id) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% set body %}
        {% trans topic_title=topic_title %}
          <p><b>Important Update:</b> Your record <b>"{{ topic_title }}"</b> has been <b>declined</b> to allow further editing.</p>
          <p>
            Some revisions are needed before the record can be accepted for publication.
            <b>Please refer to the reviewer's feedback sent in a separate email. The feedback is also available on the request page.</b>
          </p>
        {% endtrans %}

        {{ m.button(request_html_page, _("View detailed feedback &amp; status"), bg="#007bff") }}
    {% endset %}

    {{ layout.render_html(body, text_align="center") }}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% set body %}
        {% trans topic_title=topic_title, request_html_page=request_html_page %}
        Your record "{{ topic_title }}" has been declined to allow further editing.

        Some revisions are needed before the record can be accepted for publication.
        Please refer to the reviewer's feedback that has been sent in a separate e-mail.
        The feedback is also available on the request page:

        {{ request_html_page }}
        {% endtrans %}
    {% endset %}
    {{ layout.render_plain(body) }}
{%- endblock plain_body -%}
