{% import "mbdb/invenio_notifications/email/_layout.jinja" as layout %}
{% import "mbdb/invenio_notifications/email/_macros.jinja" as m %}

{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set rec_info = topic.metadata.general_parameters.record_information %}

{% set topic_id = topic.id %}
{% set topic_title = rec_info.title %}
{% set request_html_page = request.links.self_html %}

{%- block subject -%}
{{ _("SUBMITTED: Your MBDB record '{topic_id}' has been submitted and is now under review").format(topic_id=topic_id) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title %}
          <p>Thank you for submitting your record [{{ topic_id }}] <b>"{{ topic_title }}"</b> to MBDB.</p>
          <p>Your record is now under review. We will notify you if revisions to your record are needed or once the record has been accepted.</p>
        {% endtrans %}

        {{ m.button(request_html_page, _("View request status")) }}
        <p>
          {% trans request_html_page=request_html_page %}
            If the button does not work, copy and paste this link into your browser:<br>
            <a href="{{ request_html_page }}">{{ request_html_page }}</a>
          {% endtrans %}
        </p>
    {% endset %}
    {{ layout.render_html(body, text_align="center") }}
{%- endblock html_body -%}

{%- block plain_body -%}
      {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title, request_html_page=request_html_page %}
        Thank you for submitting your record [{{ topic_id }}] "{{ topic_title }}" to MBDB.

        Your record is now under review. We will notify you if revisions to your record are needed
        or once the record has been accepted.

        You can view the status of your request here:
        {{ request_html_page }}
        {% endtrans %}
    {% endset %}

    {{ layout.render_plain(body) }}
{%- endblock plain_body -%}
