{% import "mbdb/invenio_notifications/email/_layout.jinja" as layout %}
{% import "mbdb/invenio_notifications/email/_macros.jinja" as m %}

{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set rec_info = topic.metadata.general_parameters.record_information %}

{% set topic_id = topic.id %}
{% set topic_title = rec_info.title %}
{% set method = rec_info.resource_type %}
{% set request_html_page = request.links.self_html %}

{%- block subject -%}
{{ _("[{method}]: A new MBDB record submitted - '{topic_id}'").format(topic_id=topic_id, method=method) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title %}
          <p>A new record, [{{ topic_id}}] <b>"{{ topic_title }}"</b>, has been submitted and is awaiting your review.</p>

          <p>
            Please check the request page to make sure that the record is not being reviewed by someone else.
            If you decide to review this record, leave a comment <b>"The record is under review."</b> on the request page.
          </p>
        {% endtrans %}

        {{ m.button(request_html_page, _("Review submission")) }}

        <p>
          {% trans request_html_page=request_html_page %}
            If the button does not work, copy and paste this link into your browser:<br>
            <a href="{{ request_html_page }}">{{ request_html_page }}</a>
          {% endtrans %}
        </p>

        {% trans %}
          <p>
            If revisions are needed, please <b>decline</b> the record and leave a comment with the issues to be addressed by the depositor.
            If the record passes the review and is ready to be published, please <b>accept</b> the record.
          </p>
        {% endtrans %}
    {% endset %}
    {{ layout.render_html(body, text_align="center") }}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title, request_html_page=request_html_page %}
        A new record [{{ topic_id }}] "{{ topic_title }}" has been submitted and is awaiting your review.

        Please check the request page (link below) to make sure that the record is not being
        reviewed by someone else. If you decide to review this record, leave a comment
        "The record is under review." on the request page:

        {{ request_html_page }}

        If revisions to the record are needed, please decline the record and leave a comment
        with the issues to be addressed by the depositor. If the record passes the review and
        is ready to be published, please accept the record.
        {% endtrans %}
    {% endset %}
    {{ layout.render_plain(body) }}
{%- endblock plain_body -%}
