{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set topic_id = topic.id %}
{% set record_metadata = topic.get("metadata", {}) %}
{% set topic_title = record_metadata.get("title", topic_id) %}
{% set request_html_page = request.links.self_html %} {#Tim please adjust the link#}

{%- block subject -%}
    {{ _("ACCEPTED: Your MBDB record '{topic_title}' has been accepted for publication")
        .format(topic_title=topic_title)
    }}
{%- endblock subject -%}

{%- block html_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    <p>
    🎉 **Great News!** Your record **"{{topic_title}}"** has successfully passed review and has been **ACCEPTED for publication**.
    </p>
    <p>
    The record is now in the **Accepted** state. Once you are ready to publish your record, please click the "Publish draft" button on the record preview page:
    </p>
    <p>
        <a type="button" href='{{link}}' style="display:inline-block;padding:10px 20px;background-color:#28a745;color:#ffffff;text-decoration:none;border-radius:5px;">View Final Status & Publish</a>
    </p>
    {% endtrans %}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    Great News! Your record "{{topic_title}}" has successfully passed review and has been APPROVED FOR PUBLICATION.

    The record is now in an 'Accepted' state. Once you are ready to publish your record, please click the "Publish draft" button on the record preview page:
    {{link}}
    {% endtrans %}
{%- endblock plain_body -%}