{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set topic_id = request.topic.id %}
{% set topic_title = topic.get("metadata", {}).get("title", topic_id) %}
{% set method_shortcut = topic.metadata.general_parameters.record_information.resource_type %}
{% set request_html_page = request.links.self_html %}

{%- block subject -%}
    {{ _("[{method}]: A new MBDB record submitted - '{topic_title}'").format(topic_title=topic_title, method=method_shortcut) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    <p>
    A new record, **"{{topic_title}}"**, has been submitted and is awaiting your review.
    </p>
    <p>
    Please check the request page (button below) to make sure that the record is not being reviewed by someone else. If you decide to review this record, leave a comment "The record is under review." on the request page:
    </p>
    <p>
        <a type="button" href='{{link}}' style="display:inline-block;padding:10px 20px;background-color:#007bff;color:#ffffff;text-decoration:none;border-radius:5px;">Review Submission</a>
    </p>
    <p>
    If the button above does not work, please copy and paste the following link into your browser: {{ link }}
    </p>
    {% endtrans %}
    <p>
    If revisions to the record are needed, please <b>decline</b> the record and leave a comment with the issues to be addressed by the depositor. If the record passes the review and is ready to get published, please <b>accept</b> the record.
    </p>

    <table style="font-family:'Lato',Helvetica,Arial,sans-serif;border-spacing:15px">
        <tr>
            <td style="font-size:smaller">{{ _("This is an auto-generated message. To manage notifications, visit your")}} <a href="{{account_settings_link}}">{{ _("account settings")}}</a>.</td>
        </tr>
    </table>
{%- endblock html_body -%}

{%- block plain_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    A new record, "{{topic_title}}", has been submitted and is awaiting your review.

    Please check the request page (link below) to make sure that the record is not being reviewed by someone else. If you decide to review this record, leave a comment "The record is under review." on the request page:
    {{link}}
    If revisions to the record are needed, please decline the record and leave a comment with the issues to be addressed by the depositor. If the record passes the review and is ready to get published, please accept the record.
    {% endtrans %}
{%- endblock plain_body -%}