{% import "mbdb/invenio_notifications/email/_layout.jinja" as layout %}
{% import "mbdb/invenio_notifications/email/_macros.jinja" as m %}

{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set rec_info = topic.metadata.general_parameters.record_information %}

{% set topic_id = topic.id %}
{% set topic_title = rec_info.title %}
{% set record_html_page = topic.links.self_html %}

{%- block subject -%}
{{ _("ACCEPTED: Your MBDB record '{topic_id}' has been accepted for publication").format(topic_id=topic_id) }}
{%- endblock subject -%}

{%- block html_body -%}
  {% set body %}
    {% trans topic_id=topic_id, topic_title=topic_title %}
      <p>🎉 <b>Great News!</b> Your record [{{ topic_id }}] <b>"{{ topic_title }}"</b> has successfully passed review and has been <b>ACCEPTED</b> for publication.</p>
      <p>The record is now in the <i>Accepted</i> state. Once you are ready to publish your record, please click the <b>"Publish draft"</b> button on the record preview page.</p>
    {% endtrans %}

    {{ m.button(record_html_page, _("View Record &amp; Publish"), bg="#28a745") }}

    <p>
      {% trans record_html_page=record_html_page %}
        If the button does not work, copy and paste this link into your browser:<br>
        <a href="{{ record_html_page }}">{{ record_html_page }}</a>
      {% endtrans %}
    </p>
  {% endset %}

  {{ layout.render_html(body, text_align="center") }}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title, record_html_page=record_html_page %}
        Great News! Your record [{{ topic_id }}] "{{ topic_title }}" has successfully passed review and has been ACCEPTED for publication.

        The record is now in the 'Accepted' state. Once you are ready to publish your record,
        please click the "Publish draft" button on the record preview page:

        {{ record_html_page }}
        {% endtrans %}
    {% endset %}
    {{ layout.render_plain(body) }}
{%- endblock plain_body -%}
