{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set topic_id = request.topic.id %}
{% set topic_title = topic.get("metadata", {}).get("title", topic_id) %}
{% set request_html_page = request.links.self_html %}

{%- block subject -%}
    {{ _("SUBMITTED: Your MBDB record '{topic_title}' has been submitted and is now under review").format(topic_title=topic_title) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    <p>
    Thank you for submitting your record, **"{{topic_title}}"**, to MBDB.
    </p>
    <p>
    Your record is now under review. We will notify you if revisions to your record are needed or once the record has been accepted.
    </p>
    <p>
    You can view the status of your request here: <a href="{{ link }}">{{ link }}</a>
    </p>
    {% endtrans %}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% trans topic_title=topic_title, link=request_html_page %}
    Thank you for submitting your record, "{{topic_title}}", to MBDB.

    Your record is now under review. We will notify you if revisions to your record are needed or once the record has been accepted.

    You can view the status of your request here: {{ link }}
    {% endtrans %}
{%- endblock plain_body -%}