{% import "mbdb/invenio_notifications/email/_layout.jinja" as layout %}
{% import "mbdb/invenio_notifications/email/_macros.jinja" as m %}

{% set request = notification.context.request %}
{% set topic = request.topic %}
{% set rec_info = topic.metadata.general_parameters.record_information %}

{% set topic_id = topic.id %}
{% set topic_title = rec_info.title %}
{% set record_html_page = topic.links.self_html %}

{%- block subject -%}
{{ _("PUBLISHED: Your MBDB record '{topic_id}' has been published").format(topic_id=topic_id) }}
{%- endblock subject -%}

{%- block html_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title, record_html_page=record_html_page %}
          <p><b>Congratulations!</b> Your record [{{ topic_id }}] <b>"{{ topic_title }}"</b> has been successfully <b>PUBLISHED</b>.</p>
          <p>The record is now available here: <a href="{{ record_html_page }}">{{ record_html_page }}</a></p>
        {% endtrans %}

        {{ m.button(record_html_page, _("View published record"), bg="#28a745") }}

        <p>{% trans %}Thank you for your contribution!{% endtrans %}</p>
    {% endset %}
    {{ layout.render_html(body, text_align="center") }}
{%- endblock html_body -%}

{%- block plain_body -%}
    {% set body %}
        {% trans topic_id=topic_id, topic_title=topic_title, record_html_page=record_html_page %}
        Congratulations! Your record [{{ topic_id }}] "{{ topic_title }}" has been successfully PUBLISHED.

        The record is now available here:
        {{ record_html_page }}

        Thank you for your contribution!
        {% endtrans %}
    {% endset %}
    {{ layout.render_plain(body) }}
{%- endblock plain_body -%}
