{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
    <div class="text-dark lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
        <div class="mx-8 mt-12 lg:mx-16 xl:mx-20 2xl:mx-16">
            <div class="font-JostMedium text-32px mb-4">
                Select method you want to deposit
            </div>
            <div class="mt-6 md:grid md:grid-cols-2colMethod xl:grid-cols-3colMethod">
                <div class="flex">
                    <div class="mbdbv-item-container-inner pt-12 pb-3 pl-4 border-dark border-[1px] rounded-normal relative w-[390px] mb-3">
                        <img class="absolute w-3 h-3 top-3 right-3" src="/static/images/cornerArrow.png" alt="arrow" />
                        <div class="font-JostMedium text-20px">MST</div>
                        <div class="font-JostMedium text-20px mb-3">Microscale thermophoresis</div>
                        <div class="mb-[50px]">Data from the Monolith series can be deposited here including MST/TRIC, initial flouresence, and Spectral shift. Please contact us if you used a different instrument</div>
                        <a class="absolute bottom-3 left-3 flex justify-center w-[150px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:bg-secondary transition-all" href="/mst/_new">
                            <button>
                                Deposit MST
                            </button>
                        </a>
                    </div>
                </div>
                <div class="flex">
                    <div class="mbdbv-item-container-inner pt-12 pb-3 pl-4 border-dark border-[1px] rounded-normal relative w-[390px] mb-3">
                        <img class="absolute w-3 h-3 top-3 right-3 transition-all" src="/static/images/cornerArrow.png" alt="arrow" />
                        <div class="font-JostMedium text-20px">BLI</div>
                        <div class="font-JostMedium text-20px mb-3">Bio-layer interferometry</div>
                        <div class="mb-[50px]">Data derived from the Octet series can be deposited, please contact us if you used a different instrument.</div>
                        <a class="absolute bottom-3 left-3 flex justify-center w-[150px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:bg-secondary transition-all" href="/bli/_new">
                            <button>
                                Deposit BLI
                            </button>
                        </a>
                    </div>
                </div>
                <div class="flex">
                    <div class="mbdbv-item-container-inner pt-12 pb-3 pl-4 border-dark border-[1px] rounded-normal relative w-[390px] mb-3">
                        <img class="absolute w-3 h-3 top-3 right-3" src="/static/images/cornerArrow.png" alt="arrow" />
                        <div class="font-JostMedium text-20px">SPR</div>
                        <div class="font-JostMedium text-20px mb-3">Surface plasmon resonance</div>
                        <div class="mb-[50px]">Data derived from the Biacore series can be deposited, please contact us if you used a different instrument.</div>
                        <a class="absolute bottom-3 left-3 flex justify-center w-[150px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:bg-secondary transition-all" href="/spr/_new">
                            <button>
                                Deposit SPR
                            </button>
                        </a>
                    </div>
                </div>
                <div class="flex">
                    <div class="mbdbv-item-container-inner pt-12 pb-3 pl-4 border-dark border-[1px] rounded-normal relative w-[390px] mb-3">
                        <img class="absolute w-3 h-3 top-3 right-3" src="/static/images/cornerArrow.png" alt="arrow" />
                        <div class="font-JostMedium text-20px">ITC</div>
                        <div class="font-JostMedium text-20px mb-3">Isothermal titration calorimetry</div>
                        <div class="mb-[50px]">Data from the TA, Microcal, and Thermofisher can be deposited. Please contact us if you used a different instrument.</div>
                        <a class="absolute bottom-3 left-3 flex justify-center w-[150px] h-[40px] text-20px bg-dark rounded-normal text-primary hover:bg-secondary transition-all" href="/itc/_new">
                            <button>
                                Deposit ITC
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock page_body %}