{% extends config.BASE_TEMPLATE %}
{%- block bypasslinks %}
{%- endblock bypasslinks %}
{%- block page_body %}

<div class="mbdbv-main-container">
  <div class="">
    {# Main content #}
    <article
      class="lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]"
    >
      {% block record_main_content %}
      {% endblock %}
    </article>

    {# Sidebar #}
    <aside
      class="sixteen wide tablet four wide computer column sidebar"
      aria-label="{{ _('Record details') }}"
    >
      {% block record_sidebar %}
      {% endblock record_sidebar %}
    </aside>
  </div>

  {% endblock %}
</div>