<footer id="footer">
  <div class="bg-dark">
    <div class="lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
      <div class="mx-4 py-8 md:flex md:justify-between lg:px-4 lg:mx-8 xl:mx-8 2xl:mx-8 2xl:py-20 2xl:px-12">
        <div class="font-JostMedium text-32px text-white">
          Connect with us
        </div>
        <div class="my-8 md:m-0 lg:last:mr-12">
          <div class="m-2 text-white font-JostLight text-20px transition-all hover:text-secondary">
            <a href="/supported-techniques">
                Supported techniques
            </a>
          </div>
          <div class="m-2 text-white font-JostLight text-20px transition-all hover:text-secondary">
            <a href="https://molecular-biophysics-database.github.io/mbdb-docs/" target="_blank">
                Documentation
            </a>
          </div>
          <div class="m-2 text-white font-JostLight text-20px transition-all hover:text-secondary">
            <a href="/tutorial">
                Tutorials
            </a>
          </div>
        </div>
        <div class="my-8 md:m-0 lg:last:mr-12">
          <div class="m-2 text-white font-JostLight text-20px transition-all hover:text-secondary">
            <a href="/developers-team">
                Developers team
            </a>
          </div>
          <div class="m-2 text-white font-JostLight text-20px transition-all hover:text-secondary">
            <a href="/contact">
                Contact us
            </a>
          </div>
        </div>
        <div class="m-2 text-white font-JostLight text-20px transition-all">
          Version 0.3.4
        </div>
      </div>
    </div>
  </div>
</footer>