{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<div class="mt-4">
  <div class="mbdbv-h2-title mb-4">
    Sorry, We are still developing this page. Come back later.
    <span class="mbdbv-h2-underline"></span>
  </div>
</div>
{%- endblock page_body %}