{# def record, metadata, ui, extra_context, d, context, embedded, pdf_embedded=false#}
{% set pdf_embedded = request.args.get("pdf_embedded", "false")|lower == "true" %}

{% set md=d.metadata %}
{% set gp=md.general_parameters %}
{% set msp=md.method_specific_parameters %}

<RecordHeader md={md} links={d.links} state={d.state} record={record} permissions={extra_context.permissions} embedded={embedded} pdf_embedded={pdf_embedded} />
<RecordInformation d={d} gp={gp} />

<div class="mt-8">
{% if not pdf_embedded %}
    <!-- Main Tabs Navigation -->
    <div class="border-b border-gray-200">
        <nav class="flex p-0 mb-2">
            <button class="main-tab hover:text-gray-700 border-b-2 border-transparent hover:border-gray-300 py-2 px-6 mr-3 transition-all rounded-normal outline-none" data-main-tab="tab1">Record view</button>
            <button class="main-tab hover:text-gray-700 border-b-2 border-transparent hover:border-gray-300 py-2 px-6 transition-all rounded-normal outline-none" data-main-tab="tab2">Detailed record view</button>
        </nav>
    </div>

    <!-- Main Tabs Content -->
    <div class="mt-6">
        <!-- First Tab -->
        <div id="tab1" class="main-tab-content">

            <Section title="Entities of interest">
                <EntitiesOfInterest entities={gp.entities_of_interest} />
            </Section>
        
            <Section title="Results">
                <Results gp={gp} />
            </Section>
        
            <Section title="Chemical environments (buffers)">
                <ChemicalEnvironments chemical_environments={gp.chemical_environments} />
            </Section>
        
            <Section title="Measurements">
                <spr.SPR.Measurements gp={gp} msp={msp} />
            </Section>
        
            <Section title="Instrument">
                <Instrument instrument={gp.instrument} />
            </Section>
        
            <Section title="Files" >
                <div class="flex items-center mb-4">
                    <span class="text-gray-700">{{ extra_context.files.entries | length }} file(s) available</span>

                    <a class="flex justify-center items-center w-fit py-2 px-4 text-18px bg-dark rounded-normal text-white hover:text-white hover:bg-dark/75 transition-all ml-4"
                       href="{{ d.links.archive }}"
                       target="_blank">
                        Download All Files
                    </a>
                </div>
                <Files files={extra_context.files} />
            </Section>

        </div>

        <!-- Second Tab -->
        <div id="tab2" class="main-tab-content hidden">
            {% endif %}
            <Section title="Entities of interest">
                <entitiesOfInterest.EntitiesOfInterestDetailedView entities={gp.entities_of_interest} />
            </Section>

            <Section title="Chemical environments">
                <ChemicalEnvironmentDetailedView chemical_environments={gp.chemical_environments} />
            </Section>

            <Section title="Instrument">
                <SPRInstrumentDetailedView instrument={gp.instrument} experimentType={msp.experiment_type} />
            </Section>

            <Section title="Sensors">
                <SPRSensorsDetailedView sensors={msp.sensor} />
            </Section>

            <Section title="Measurement positions">
                <MeasurementPositionsDetailedView positions={msp.measurement_positions} />
            </Section>

            <Section title="Measurement protocol">
                <MeasurementProtocolStepsDetailedView steps={msp.measurement_protocol} />
            </Section>

            <Section title="Measurements">
                <SPRMeasurementsDetailedView measurements={msp.measurements} />
            </Section>

            <Section title="Results">
                <ResultsDetailedView results={gp.results} />
            </Section>

            <Section title="Data analysis">
                <DataAnalysisDetailedView dataAnalysis={msp.data_analysis} />
            </Section>

            <Section title="Files">
                <div class="flex items-center mb-4">
                    <span class="text-gray-700">{{ extra_context.files.entries | length }} file(s) available</span>

                    <a class="flex justify-center items-center w-fit py-2 px-4 text-18px bg-dark rounded-normal text-white hover:text-white hover:bg-dark/75 transition-all ml-4"
                       href="{{ d.links.archive }}"
                       target="_blank">
                        Download All Files
                    </a>
                </div>
                <FilesDetailedView files={extra_context.files} />
            </Section>

        </div>
{% if not pdf_embedded %}
    </div>
</div>
{% endif %}

