{# def record, metadata, ui, extra_context, d, context #}

{% set md=d.metadata %}
{% set gp=md.general_parameters %}
{% set msp=md.method_specific_parameters %}

<RecordHeader md={md} links={d.links} />

{#
    note: if you do not specify label for IField, it is taken directly from the model
    (and translated to the current language) and thus is consistent with facets
#}

<IValueList>
    <IField d={d.id} label="Record ID"  field_class="mbdbv-record-technique" />
    <IField d={gp.technique} field_class="mbdbv-record-technique" />
    <IField d={gp.depositors} field_class="mbdbv-record-technique">
        <Depositors d={gp.depositors} />
    </IField>
</IValueList>

{#        <IField label="Main Publication:" #}
{#                d={gp.associated_publication}#}
{#                field_class="mbdbv-record-technique">#}
{#            <AssociatedPublication d={gp.associated_publication} />#}
{#        </IField>#}


<div class="mbdbv-record-container">

    <Section title={gp.entities_of_interest._ui_label}>
        <EntitiesOfInterest entities={gp.entities_of_interest} />
    </Section>

    <Section title={gp.results._ui_label}>
        <Results gp={gp} msp={msp} />
    </Section>

    <Section title="Measurements">
        <Measurements gp={gp} msp={msp} />
    </Section>

    <Section title="Instrument">
        <Instrument instrument={gp.instrument} />
    </Section>

    <Section title="Raw measurements" >
        <RawMeasurements raw_measurements={gp.raw_measurements} files={extra_context.files} />
    </Section>

</div>

