{# def entity #}

<div class="mbdb-entity">
    <IField label="Name" d={entity.name}>
        {{ entity.name }}
    </IField>

    <IField label="Type" d={field_value(entity.type)}>
        {{ entity.type }}
    </IField>

    {%- if field_value(entity.type) == "Chemical" %}
        <mst.MBDB.Entities.Chemical entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of biological origin" %}
        <mst.MBDB.Entities.BiologicalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of chemical origin" %}
        <mst.MBDB.Entities.ChemicalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of environmental origin" %}
        <mst.MBDB.Entities.EnvironmentalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of industrial production origin" %}
        <mst.MBDB.Entities.IndustrialOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Molecular assembly" %}
        <mst.MBDB.Entities.MolecularAssembly entity={ entity } />
    {%- elif field_value(entity.type) == "Polymer" %}
        <mst.MBDB.Entities.Polymer entity={ entity } />
    {%- endif %}
</div>
