{# def entity #}

<mst.MBDB.Fields.MeasuredValueField label="Mw" value={entity.molecular_weight} />
<mst.MBDB.Fields.YesNoField label="Is chemically modified" value={entity.chemical_modifications} />
