import logging

logging.basicConfig(level=logging.INFO)

import os

from invenio_i18n import lazy_gettext as _
from oarepo import config

# glitchtip for reporting incidents
config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(
    code="mbdb",
    name=_("Molecular Biophysics Database"),
    description=_(
        "Molecular Biophysics Database collects raw data produced in experiments with biomolecular samples, "
        "biological material or other material, using molecular biophysics methods, "
        "such as Microscale Thermophoresis (MST), Biolayer interferometry (BLI), "
        "Surface Plasmon Resonance (SPR) and others. "
    ),
    languages=(),
)

config.configure_communities(
    [
        dict(
            name="administrator",
            title=_("Administrator"),
            description=_("Can manage community records and members."),
            can_manage=True,
            can_manage_roles=["member"],
        ),
        dict(
            name="member",
            title=_("Member"),
            description=_("Community member with read permissions."),
        ),
        dict(
            name="owner",
            title=_("Community owner"),
            description=_("Can manage community."),
            is_owner=True,
            can_manage=True,
            can_manage_roles=["owner", "administrator", "member"],
        ),
    ]
)


# Feel free to add/override configuration options here. List of options can be
# found in the Invenio source code:
# https://github.com/inveniosoftware/invenio-app-rdm/blob/master/invenio_app_rdm/config.py

# datacite
DATACITE_MAPPING = {
    # this is a mapping from community slug to datacite prefix, user and secret
}


env = config.load_configuration_variables()

EINFRA_LAST_DUMP_PATH = "nrp_invenio_export.json"

# local settings

APP_DEFAULT_SECURE_HEADERS["content_security_policy"]["default-src"].extend(
    [
        "https://www.googletagmanager.com/",
        "https://pub.orcid.org/v3.0/",  # Add your own policies here (e.g. analytics)
    ]
)

OAUTHCLIENT_REMOTE_APPS = {}
if env.get("INVENIO_ORCID_APP_KEY"):
    from invenio_oauthclient.contrib import orcid

    OAUTHCLIENT_REMOTE_APPS["orcid"] = orcid.REMOTE_APP
    OAUTHCLIENT_REMOTE_APPS["orcid"]["logout_url"] = "https://orcid.org/signout"
    ORCID_APP_CREDENTIALS = dict(
        consumer_key=env.get("INVENIO_ORCID_APP_KEY"),
        consumer_secret=env.get("INVENIO_ORCID_APP_SECRET"),
    )

if env.get("INVENIO_EINFRA_SERVICE_USERNAME"):
    from oarepo_oidc_einfra import EINFRA_LOGIN_APP

    OAUTHCLIENT_REMOTE_APPS["e-infra"] = EINFRA_LOGIN_APP

if os.environ.get("FLASK_DEBUG"):
    ACCOUNTS_LOCAL_LOGIN_ENABLED = True

# TODO: is this needed?
# COMMUNITIES_REGISTER_UI_BLUEPRINT = False


RECORD_ROUTES = {"new": "/choose-method?community={community_slug}"}


from common.vocabularies_permissions import FineGrainedVocabularyPermissionPolicy

OAREPO_FINE_GRAINED_VOCABULARIES_PERMISSIONS = True
VOCABULARIES_PERMISSIONS_PRESETS = [FineGrainedVocabularyPermissionPolicy]


from common.vocabulary_getters import (
    NCBIService,
    OpenAireService,
    PubChemService,
    RORService,
)

config.configure_vocabulary(
    "affiliations",
    name={"en": "Affiliations"},
    description={"en": "Based on the ROR database"},
    authority=RORService,
    props={
        "city": {
            "description": _("The city where the institution is located"),
            "label": _("City"),
            "icon": None,
            "multiple": False,
            "placeholder": "Institute of biotechnology",
            "search": True,
        },
        "state": {
            "description": _("The state where the institution is located"),
            "label": _("State"),
            "icon": None,
            "multiple": False,
            "placeholder": "Central Bohemia",
            "search": True,
        },
        "country": {
            "description": _("The country where the institution is located"),
            "label": _("Country"),
            "multiple": False,
            "icon": None,
            "placeholder": "Czech republic",
            "search": True,
        },
    },
)

config.configure_vocabulary(
    "body_fluids",
    name={"en": "Body fluids"},
)
config.configure_vocabulary(
    "cell_fractions",
    name={"en": "Cell fractions"},
    description={"en": "MBDB maintained list of cell fractions"},
)
config.configure_vocabulary(
    "chemicals",
    name={"en": "Chemicals"},
    description={"en": "Based on the Pubchem database"},
    authority=PubChemService,
)
config.configure_vocabulary(
    "environment_types",
    name={"en": "Environment types"},
    description={"en": "MBDB maintained list of Environment types"},
)
config.configure_vocabulary(
    "grants",
    name={"en": "Funding references"},
    description={"en": "Based on the OpenAIRE projects database"},
    authority=OpenAireService,
    props={
        "grant_id": {
            "description": _("The ID of the grant as supplied by funder"),
            "label": _("Grant ID"),
            "multiple": False,
            "icon": None,
            "placeholder": "310087...",
            "search": True,
        },
        "funder_name": {
            "description": _("The name of the grant funder"),
            "label": _("Funder name"),
            "icon": None,
            "multiple": False,
            "placeholder": "Academy of Finland",
            "search": True,
        },
    },
)
config.configure_vocabulary(
    "instruments",
    name={"en": "Instruments"},
    description={"en": "MBDB maintained list of measurement instruments"},
    props={
        "manufacturer": {
            "description": _("The name of the manufacturer of the instrument"),
            "label": _("Manufacturer"),
            "multiple": False,
            "icon": None,
            "placeholder": "Bruker",
            "search": True,
        },
        "technique": {
            "description": _("The technique/method the instrument is used for"),
            "label": _("Technique"),
            "icon": None,
            "multiple": False,
            "placeholder": "ITC",
            "search": True,
        },
    },
)
config.configure_vocabulary(
    "languages",
    name={
        "cs": "Jazyky",
        "en": "Languages",
    },
    description={
        "cs": "Slovník obsahující definice světových jazyků.",
        "en": "Language definitions vocabulary.",
    },
    props={
        "alpha3CodeENG": {
            "description": _("ISO 639-2 standard 3-letter language code"),
            "icon": None,
            "label": _("Alpha3 code (English)"),
            "multiple": False,
            "placeholder": "eng, cze...",
            "search": False,
        },
        "alpha3CodeNative": {
            "description": _("ISO 639-2 standard 3-letter language code"),
            "icon": None,
            "label": _("Alpha3 code (native)"),
            "multiple": False,
            "options": [],
            "placeholder": "eng, ces...",
            "search": False,
        },
    },
    dump_options=True,
)
config.configure_vocabulary(
    "organisms",
    name={"en": "Organisms"},
    description={"en": "Base on NCBI taxonomy IDs"},
    authority=NCBIService,
)
config.configure_vocabulary(
    "products",
    name={"en": "Products"},
    description={"en": "MBDB maintained list of industrial products"},
)

from invenio_records_resources.services.custom_fields.number import DoubleCF
from invenio_records_resources.services.custom_fields.text import KeywordCF
from oarepo_ui.services.custom_fields import ComplexCF

VOCABULARIES_CF = [
    ComplexCF("molecular_weight", [DoubleCF("value"), KeywordCF("unit")]),
    KeywordCF("chemical_formula"),
    KeywordCF("additional_identifiers", multiple=True),
]

VOCABULARIES_CF_UI = {
    "chemicals": [
        {
            "section": _("Chemical Information"),
            "fields": [
                dict(
                    field="molecular_weight",
                    ui_widget="CustomWidget",
                    props=dict(
                        label="Molecular weight",
                        description="...",
                        nested=[
                            dict(
                                field="value",
                                ui_widget="Input",
                                props=dict(
                                    label="Value",
                                ),
                            ),
                            dict(
                                field="unit",
                                ui_widget="Input",
                                props=dict(
                                    label="Unit (g/mol)",
                                ),
                            ),
                        ],
                    ),
                ),
            ],
        },
        {
            "section": _("Chemical Formula"),
            "fields": [
                dict(
                    field="chemical_formula",
                    ui_widget="Input",
                    props=dict(
                        label="Chemical Formula",
                        item_widget="Input",
                        item_props=dict(
                            label="Molecular Formula",
                            placeholder="H20",
                        ),
                    ),
                )
            ],
        },
    ],
}


# UI
# ---

THEME_HEADER_TEMPLATE = "base/header.html"
THEME_FOOTER_TEMPLATE = "base/footer.html"
THEME_JAVASCRIPT_TEMPLATE = "base/javascript.html"
THEME_TRACKINGCODE_TEMPLATE = "base/trackingcode.html"

# Header logo
THEME_LOGO = "images/invenio-rdm.svg"

THEME_FRONTPAGE_LOGO = "images/repo_logo_eng_rgb.png"

BASE_TEMPLATE = "base/page.html"
COVER_TEMPLATE = "base/cover.html"
THEME_CSS_TEMPLATE = "css.html"

RATELIMIT_GUEST_USER = "5000 per hour;500 per minute"
RATELIMIT_AUTHENTICATED_USER = "20000 per hour;2000 per minute"

OAREPO_UI_JINJAX_FILTERS = {
    "maybe_get": "ui.filters.maybe_get",
    "nice_name": "ui.filters.nice_name",
    "format_sequence": "ui.filters:format_sequence",
}
OAREPO_UI_JINJAX_GLOBALS = {
    "find_reference": "ui.filters.find_reference",
}

SEND_REGISTER_MAIL = False

# do not attempt to send registration emails
SECURITY_SEND_REGISTER_MAIL = False

import oarepo_ui.config

OAREPO_UI_RECORD_ACTIONS = oarepo_ui.config.OAREPO_UI_RECORD_ACTIONS | {"publish"}


# Global search config
# --------------------


GLOBAL_SEARCH_MODELS = [
    {
        "model_service": "mst.services.records.service.MstService",
        "service_config": "mst.services.records.config.MstServiceConfig",
        "ui_resource_config": "ui.mst.MstResourceConfig",
        "api_resource_config": "mst.resources.records.config.MstResourceConfig",
    },
    {
        "model_service": "bli.services.records.service.BliService",
        "service_config": "bli.services.records.config.BliServiceConfig",
        "ui_resource_config": "ui.bli.BliResourceConfig",
        "api_resource_config": "bli.resources.records.config.BliResourceConfig",
    },
    {
        "model_service": "spr.services.records.service.SprService",
        "service_config": "spr.services.records.config.SprServiceConfig",
        "ui_resource_config": "ui.spr.SprResourceConfig",
        "api_resource_config": "spr.resources.records.config.SprResourceConfig",
    },
    {
        "model_service": "itc.services.records.service.ItcService",
        "service_config": "itc.services.records.config.ItcServiceConfig",
        "ui_resource_config": "ui.itc.ItcResourceConfig",
        "api_resource_config": "itc.resources.records.config.ItcResourceConfig",
    },
    {
        "model_service": "mp.services.records.service.MpService",
        "service_config": "mp.services.records.config.MpServiceConfig",
        "ui_resource_config": "ui.mp.MpResourceConfig",
        "api_resource_config": "mp.resources.records.config.MpResourceConfig",
    },
]
GLOBAL_SEARCH_API_URL = "/api/all/search"

# "new draft" button dashboard link
DASHBOARD_RECORD_CREATE_URL = "/choose-method"

# Workflows
# ---------

# TODO: This will be removed after we fix "create" permission in UI
from common.services.records.permissions import MbdbPermissionPreset

OAREPO_PERMISSIONS_PRESETS = {
    "mbdb": MbdbPermissionPreset,
}

from oarepo_requests.services.permissions.workflow_policies import (
    CreatorsFromWorkflowRequestsPermissionPolicy,
)

REQUESTS_PERMISSION_POLICY = CreatorsFromWorkflowRequestsPermissionPolicy


from common.workflows.community_workflow import (
    CommunityWorkflowPermissions,
    CommunityWorkflowRequests,
)
from common.workflows.individual_workflow import (
    IndividualWorkflowPermissions,
    IndividualWorkflowRequests,
)

config.register_workflow(
    "default",
    _("Default workflow"),
    CommunityWorkflowPermissions,
    CommunityWorkflowRequests,
)

config.register_workflow(
    "community",
    _("Community workflow"),
    CommunityWorkflowPermissions,
    CommunityWorkflowRequests,
)

config.register_workflow(
    "individual",
    _("Individual workflow"),
    IndividualWorkflowPermissions,
    IndividualWorkflowRequests,
)

OAREPO_COMMUNITIES_DEFAULT_WORKFLOW = "community"

# Communities
# -----------

COMMUNITIES_ROLES = [
    dict(
        name="administrator",
        title=_("Administrator"),
        description=_("Can manage community records and members."),
        can_manage=True,
        can_manage_roles=["member"],
    ),
    dict(
        name="member",
        title=_("Member"),
        description=_("Community member with read permissions."),
    ),
    dict(
        name="owner",
        title=_("Community owner"),
        description=_("Can manage community."),
        is_owner=True,
        can_manage=True,
        can_manage_roles=["owner", "administrator", "member"],
    ),
]

from common.workflows.community_permissions import CommunitiesPermissionPolicy

COMMUNITIES_PERMISSION_POLICY = CommunitiesPermissionPolicy


# DOI generation
# ---------------

DATACITE_URL = env.INVENIO_DOI_DATACITE_URL
# TODO: Currently a DOI is automatically assigned upon publication
DATACITE_MODE = "AUTOMATIC"
# the doi suffix will be the record id
DATACITE_SPECIFIED_ID = True

DATACITE_MAPPING = {
    "local://bli-1.0.0.json": "common.doi_generation.DataCiteMappingMBDB",
    "local://itc-1.0.0.json": "common.doi_generation.DataCiteMappingMBDB",
    "local://mst-1.0.0.json": "common.doi_generation.DataCiteMappingMBDB",
    "local://spr-1.0.0.json": "common.doi_generation.DataCiteMappingMBDB",
    "local://mp-1.0.0.json": "common.doi_generation.DataCiteMappingMBDB",
}

DATACITE_CREDENTIALS_DEFAULT = {
    "prefix": env.INVENIO_DOI_DATACITE_PREFIX,
    "password": env.INVENIO_DOI_DATACITE_PASSWORD,
    "username": env.INVENIO_DOI_DATACITE_USERNAME,
}
# setting the base domain where the DOI url is pointing to
BASE_DOMAIN = "https://mbdb-data.org"

from celery.schedules import crontab

config.configure_cron(
    # periodic synchronization of e-infra data
    synchronize_einfra={
        "task": "oarepo_oidc_einfra.tasks.update_from_perun_dump",
        "schedule": crontab(minute=0, hour=3),
    },
)

# at the end, override the configuration with values that come from
# k8s' mapped files that were not processed in the steps above.
config.override_configuration()
USERS_RESOURCES_ADMINISTRATION_ENABLED = True
