oarepo[s3,rdm]==12.2.30
cachetools==6.2.0
deepmerge==2.0
et-xmlfile==2.0.0
flask-babelex==0.9.4
frozendict==2.4.6
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.12.1
langcodes==3.5.0
language-data==1.3.0
marisa-trie==1.3.2.dev0
mbdb-parsing==0.2.1
numpy==2.3.3
oarepo-communities==5.4.5
oarepo-dashboard==1.0.26
oarepo-doi==2.0.18
oarepo-global-search==1.0.45
oarepo-oidc-einfra==1.3.1
oarepo-published-service==1.0.3
oarepo-requests==2.5.7
oarepo-runtime==1.10.4
oarepo-ui==5.2.87
oarepo-vocabularies==2.2.5
oarepo-workflows==1.2.1
openpyxl==3.1.5
orcid==1.0.3
pandas==2.3.3
python-dotenv==1.1.1
urnparse==0.2.2
whitenoise==6.11.0