{# def entity #}

{# Recordview template that renders the specific fields from
the entity type "Complex substance of biological origin" #}

<IField label="Source organism" d={entity.source_organism} >
    <Organism organism={entity.source_organism} />
</IField>
