{# def entity #}

{# Recordview template that renders the specific fields from
the entity type "Complex substance of chemical origin" #}

<IField label="Class" d={entity.class} >
    {{ entity.class | nice_name }}
</IField>
