{# def entity #}

<IField label="Pubchem Title" d={entity.basic_information.title} />
<LabelledValueUnit label="Molecular weight" obj={entity.basic_information.molecular_weight} />
<IField label="InChI key" d={entity.basic_information}>
    {% if entity.basic_information %}
        {{ entity.basic_information.id._ui_value[9:] }}
    {% endif %}
</IField>