{# def entity #}

{# Recordview template that renders the individual elements of the entities of
interest section #}

 <div>
   {# render the shared fields of entities #}
    <IField label="Name" d={entity.name}>
        {{ entity.name }}
    </IField>

    <IField label="Type" d={entity.type}>
        {{ entity.type }}
    </IField>

    {# render specific fields of the different entities depending on type #}
    {%- if field_value(entity.type) == "Chemical" %}
    <Chemical entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of biological origin" %}
    <BiologicalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of chemical origin" %}
    <ChemicalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of environmental origin" %}
    <EnvironmentalOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Complex substance of industrial origin" %}
    <IndustrialOrigin entity={ entity } />
    {%- elif field_value(entity.type) == "Molecular assembly" %}
    <MolecularAssembly entity={ entity } />
    {%- elif field_value(entity.type) == "Polymer" %}
    <Polymer entity={ entity } />
    {%- endif %}
</div>