{# def entity #}

{# Recordview template that renders the specific fields from the entity type "Complex substance of environmental origin" #}

<IField label="Source" d={entity.source} />

<IField label="Location" d={entity.location} >
    <Location location={entity.location} />
</IField>
