{# def entity #}

<IField label="Molecular weight" d={entity.molecular_weight}>
    <ValueUnit value={entity.molecular_weight} />
</IField>

{% for component in array(entity.components) %}
{% set title='Component ' ~ loop.index %}
    <SubSection title={ title }>
        <Entity entity={component} />
        <IField label="Copy Number" d={component.copy_number} />
    </SubSection>
{% endfor %}



