{# def entity #}

<LabelledValueUnit label="Molecular Weight" obj={entity.molecular_weight} />

{% for component in array(entity.components) %}
{% set title='Component ' ~ loop.index %}
    <SubSection title={ title }>
        <Entity entity={component} />
        <IField label="Copy Number" d={component.copy_number} />
    </SubSection>
{% endfor %}



