{# def entity #}


{# Recordview template that renders the content of Polymer objects (in entities of interest section) #}

<IField label="Molecular weight" d={entity.molecular_weight}>
    <ValueUnit value={entity.molecular_weight} />
</IField>
<IField label="Source organism" d={entity.source_organism}>
    <Organism organism={entity.source_organism} />
</IField>
<PolymerSequence sequence={entity.sequence} />
<IField label="Modifications" d={entity.modifications} >
    <PolymerModifications modifications={entity.modifications} />
</IField>
