{# def modifications #}

<INonEmpty d={modifications.synthesis}>
    <span class="mbdbv-strong">Synthesis</span>
    <div class="mbdbv-hoffset">
        {%- for mod in array(modifications.synthesis) %}
          <SubstanceModification mod={mod} />
        {%- endfor %}
    </div>
</INonEmpty>

<INonEmpty d={modifications.biological_postprocessing}>
    <span class="mbdbv-strong">Biolog. postprocessing</span>
    <div class="mbdbv-hoffset">
        {%- for mod in array(modifications.biological_preparation) %}
          <SubstanceModification mod={mod} />
        {%- endfor %}
    </div>
</INonEmpty>

<INonEmpty d={modifications.chemical}>
    <span class="mbdbv-strong">Chemical</span>
    <div class="mbdbv-hoffset">
        {%- for mod in array(modifications.chemical) %}
          <SubstanceModification mod={mod} />
        {%- endfor %}
    </div>
</INonEmpty>
