{# def modifications #}

{# Recordview template that renders information about modification from polymer modification (entities of interest) #}

<INonEmpty d={modifications.biological_postprocessing}>
  <div class="font-JostBold mb-2">Biological postprocessing</div>
  <div class="ml-4">
    {%- for mod in array(modifications.biological_postprocessing) %}
    <Modification mod={mod} />
    {%- endfor %}
  </div>
</INonEmpty>

<INonEmpty d={modifications.chemical}>
  <div class="font-JostBold mb-2">Chemical</div>
  <div class="ml-4">
    {%- for mod in array(modifications.chemical) %}
    <Modification mod={mod} />
    {%- endfor %}
  </div>
</INonEmpty>