{# def entity #}

<LabelledValueUnit label="Molecular Weight" obj={entity.molecular_weight} />
<OrganismField label="Source organism" value={entity.source_organism} />
<PolymerSequence sequence={entity.sequence} />
<IField label="Modifications" d={entity.modifications} >
    <PolymerModifications modifications={entity.modifications} />
</IField>
