{# def instrument, msp #}

<div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
    <IField label='Name' d={instrument.title} />
    <IField label="Manufacturer" d={instrument.manufacturer} />
    <IField label='Feedback mode' d={msp.feedback_mode} />
    <IField label="Injection mode" d={msp.injection_mode}>
        <IField label="Type" d={msp.injection_mode.type} />
        <IField label="Volume" d={msp.injection_mode.volume}>
            <ValueUnit value={msp.injection_mode.volume} />
        </IField>
    </IField>
    <IField label="Cell temperature" d={msp.cell_temperature}>
        <ValueUnit value={msp.cell_temperature} />
    </IField>
    <IField label="Cell volume" d={msp.cell_volume}>
        <ValueUnit value={msp.cell_volume} />
    </IField>
    <IField label="Reference power" d={msp.reference_power}>
        <ValueUnit value={msp.reference_power} />
    </IField>
    <IField label="Stirring speed" d={msp.stirring_speed}>
        <ValueUnit value={msp.stirring_speed} />
    </IField>
</div>