{# def msp, gp #}

<div>
    <SubSection title="Experimental setup">
        <IField label="Experiment" d={ msp.experiment_type }/>
            <itc.ITC.Experiment experiment_type={ msp.experiment_type }/>
        </IField>
    </SubSection>

    {% for measurement in array(msp.measurements) %}
        {% set title='Measurement ' ~ loop.index %}
        <SubSection title={ title }>
            <IField label="Name" d={ measurement.name }/>
            <Sample gp={gp} sample={ measurement.sample }/>
        </SubSection>
    {% endfor %}
</div>