{# def msp, gp #}

<div>
    <SubSection title="Experimental setup">
        <IField label="Experiment type" d={ msp.experiment_type.type }/>
    </SubSection>

    {% for measurement in array(msp.measurements) %}
        {% set title='Measurement ' ~ loop.index %}
        <SubSection title={ title }>
            <IField label="Name" d={ measurement.name }/>
            <IField label="Sample in cell" d={ measurement.sample_in_cell }>
                <itc.ITC.Sample gp={gp} sample={ measurement.sample_in_cell }/>
            </IField>
            <IField label="Sample in syringe" d={ measurement.sample_in_syringe }>
                <itc.ITC.Sample gp={gp} sample={ measurement.sample_in_syringe }/>
            </IField>
        </SubSection>
    {% endfor %}
</div>
