{# def power, color #}

<div>
    <IValueList>
    <span class="mbdbv-emphasize">
      Power:
    </span>
    <span>
      {{ power }}
    </span>

    <span class="mbdbv-emphasize">
      Color:
    </span>
    <span>
      {{ color }}
    </span>
    </IValueList>
</div>
