{# def instrument, msp #}

<div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
    <IField label='Name' d={instrument.title} />
    <IField label="Manufacturer" d={instrument.manufacturer} />
    <SubSection title="Experimental setup">
        <IField label='Experiment type' d={msp.experiment_type} />
        <IField label='Signal type' d={msp.signal_type} />
        <IField label='Excitation LED color' d={msp.excitation_led_color} />
        <IField label='Excitation LED power' d={msp.excitation_led_power} />
        <IField label='IR MST laser power' d={msp.ir_mst_laser_power} />
        <IField label="Temperature" d={msp.temperature}>
            <ValueUnit value={msp.temperature} />
        </IField>
    </SubSection>
</div>