{# def modifications #}

{% if modifications.synthesis | length == 0 and modifications.biological_postprocessing | length == 0 and modifications.chemical | length == 0 %}
    <div>None</div>
{% else %}
  {% if modifications.synthesis | length > 0 %} <span>Synthesis</span>&nbsp; {% endif %}
  {% if modifications.biological_postprocessing | length > 0 %} <span>Biolog. postprocessing</span>&nbsp; {% endif %}
  {% if modifications.chemical | length > 0 %} <span>Chemical</span> {% endif %}
{% endif %}
