{# def entity #}

<spr.MBDB.Fields.OrganismField label="Source organism" value={entity.source_organism} />
<spr.MBDB.Entities.PolymerSequence sequence={entity.sequence} />
<IField label="Modifications" d={entity.modifications} >
    <spr.MBDB.Entities.PolymerModifications modifications={entity.modifications} />
</IField>
