{# def instrument, experimentType #}

<div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
    <IField label='Name' d={instrument.title} />
    <IField label="Manufacturer" d={instrument.manufacturer} />
    <IField label='Experiment type' d={experimentType} />
</div>