{# def measurement_protocol #}

{% for step in array(measurement_protocol) | sort(attribute="start_time.value") %}
    <div>
        {{ step.name }}
        {{ step.type }}
        <ValueUnit value={step.time_length} />
    </div>
{% endfor %}