{# def gp, sample #}

{% set chemical_environment=find_reference(gp.chemical_environments, sample.chemical_environment.id) %}

<IField label="Buffer (chemical environment)" d={chemical_environment.name} />
<IField label="Buffer Constituents" d={chemical_environment.constituents} >
    {% for constituent in array(chemical_environment.constituents) %}
        <bli.BLI.ConstituentInfo constituent={constituent} />
    {% endfor %}
</IField>

<IField label="pH (Buffer)" d={chemical_environment.ph} />

<IField label="Sample container" d={sample.container} />
