{#def record, form_config, data, extra_context, ui_links #}
{% extends "oarepo_ui/form.html" %}
{%- block javascript %}
    {{ super() }}
    {{ webpack['mbdb_mst_ui_deposit_form.js'] }}
    {{ webpack['mbdb_mst_ui_deposit_form.css'] }}
    {{ webpack['mbdb_mst_ui_components.css']}}
{%- endblock %}
{%- block form_main_content %}
    {{ super() }}
    <input id="files" type="hidden" name="files" value='{{extra_context.files | tojson }}' />
{%- endblock %}
