{# def metadata, ui, layout, extra_context #}
{% extends "oarepo_ui/detail.html" %}

{%- block head_links %}

{{ super() }}
{{ webpack['mbdb_mst_ui_components.js']}}
{{ webpack['mbdb_mst_ui_components.css']}}

{%- endblock %}
