{#def metadata, ui, layout, record #}

<div class="ui container">
  <h1 class="ui header">{{ metadata.general_parameters.record_information.title }}</h1>

  <h3>{{ metadata.general_parameters.technique }}</h3>

  <h3 class="ui header">Instrument</h3>
  <table class="ui celled table">
    <tbody>
      <tr>
        <td>Manufacturer</td>
        <td>{{ metadata.general_parameters.instrument.manufacturer }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ metadata.general_parameters.instrument.name }}</td>
      </tr>
      <tr>
          <td>Model and details</td>
        <td>{{ metadata.general_parameters.instrument.model }}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="ui header">Entities of interest</h3>
  <MBDB.EntitiesOfInterest entities={metadata.general_parameters.chemical_information.entities_of_interest } />

  <MST.Measurements msp={{ metadata.method_specific_parameters }} />

</div>
<dl class="ui very basic table">
<Field label="accessibility">{{metadata.accessibility}}</Field>
