{# def entity #}

<bli.MBDB.Fields.MeasuredValueField label="Mw" value={entity.molecular_weight} />
<bli.MBDB.Fields.YesNoField label="Is chemically modified" value={entity.chemical_modifications} />
