{# def entity #}

<bli.MBDB.Fields.OrganismField label="Source organism" value={entity.source_organism} />
<bli.MBDB.Entities.PolymerSequence sequence={entity.sequence} />
<IField label="Modifications" d={entity.modifications} >
    <bli.MBDB.Entities.PolymerModifications modifications={entity.modifications} />
</IField>
