{# def data #}

<IField label="Data fitting" d={data}>
    <IField label="Model" d={data.model} />
    <IField label="Software name" d={data.software_name} />
    <IField label="Software version" d={data.software_version} />
    <IField label="Quality" d={data.quality} />
    <IField label="Quality type" d={data.quality_type} />
</IField>