{# def data #}

<IField label="F cold and hot" d={data}>
    <IField label="Time unit" d={data.time_unit} />
    <IField label="F cold start" d={data.f_cold_start} />
    <IField label="F cold end" d={data.f_cold_end} />
    <IField label="F hot start" d={data.f_hot_start} />
    <IField label="F hot end" d={data.f_hot_end} />
</IField>