{# def name #}

<div class="mbdbv-name-value-item-name">{{ name }}</div>
<div class="mbdbv-name-value-item-value">
  {% if content is defined and content|length %}
    {{ content }}
  {% else %}
    <Common.NoValue />
  {% endif %}
</div>
