{# def items, renderer=None, bullet="square" #}

{% macro default_renderer(item) %}
  {{ item }}
{% endmacro %}

<ul style="list-style-type: {{ bullet }};">
  {% set _renderer = default_renderer if renderer == None else renderer %}

  {% for item in items %}
    <li>
      {{ _renderer(item) }}
    </li>
  {% endfor %}
</ul>
