{# def position #}

<IField label="Name" d={position.name} />

<IField label="Flow cell" d={position.flow_cell} />

<IField label="Position" d={position.position} />

<Ligand ligand={position.ligand} />