{# def measurement #}

<IField label="Name" d={measurement.name} />

<ITCSampleDetailedView title="Sample in cell" sample={measurement.sample_in_cell}/>

<ITCSampleDetailedView title="Sample in syringe" sample={measurement.sample_in_cell}/>