{# def mode #}

<IField label="Type" d={mode.type} />

<IField label="Flow cell" d={mode.flow_cell} />

<IField label="Sample flowrate" d={mode.sample_flowrate}>
    <ValueUnit value={mode.sample_flowrate} />
</IField>

<IField label="Buffer flowrate" d={mode.buffer_flowrate}>
    <ValueUnit value={mode.buffer_flowrate} />
</IField>