{# def depositors #}

{% set dep_and_prince = (depositors.depositor == depositors.principal_contact) %}
<div class="flex">
    {% if depositors.depositor %}
        <Person person={depositors.depositor} principal={dep_and_prince} />
    {% endif %}
    {%- for person in array(depositors.contributors, remove_empty=True) -%}
        <div class="flex">
            <div class="mr-2">
            ,
            </div>
            <Person person={person} />
        </div>
    {%- endfor -%}

    {% if not (dep_and_prince and depositors.principal_contact) %}
        <div class="flex">
            <div class="mr-2">
            ,
            </div>
            <Person person={depositors.principal_contact} principal={True} />
        </div>
    {% endif %}
</div>