{# def funding_refs #}

{%- for ref in array(funding_refs, remove_empty=True)  -%}
        {%- if not loop.first %}, {%- endif -%}
        {{ ref.title ~ " (" ~ ref.funder_name ~ ": " ~ ref.grant_id ~ ")" }}
{%- endfor -%}
