{# def instrument #}

{# Recordview template to render instrument information (from vocabulary) #}

<IField label="Manufacturer" d={instrument.manufacturer} />
<IField label="Name" d={instrument.title} />
