{# def license #}

{# Recordview template to render and create link to licensing #}

<div class="transition-all hover:text-secondary">
    <a href={{license.url}} target="_blank">{{license.name}}</a>
</div>
