{# def person, principal=False #}
<div class="flex">
    {{person.given_name ~ " " ~ person.family_name}}
    {%- if principal -%}
        <span title="Principal contact">*</span>
    {%- endif -%}
    {%- for id in array(person.identifiers, remove_empty=True) -%}
        {%- if id._ui_value.startswith("orcid:") -%}
            <a href="https://orcid.org/{{ id._ui_value.removeprefix("orcid:") }}" target="_blank">
                <img
                    src="/static/images/orcid-logo.png"
                    alt="Orcid link"
                    width="20px"
                />
            </a>
        {%- endif -%}
    {%- endfor -%}
</div>