{# def md, links #}

<Status self_link={ links.self } />

<div class="flex justify-between mb-8">
  <div class="font-JostMedium text-30px lg:text-40px">
    <IValue value={ md.general_parameters.record_information.title } placeholder="(Record has no title)" />
  </div>
  <div class="flex">
    <div class="mr-4">
      <a class="flex justify-center h-10 text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
        href="{{ links.edit_html or links.self_html }}" type="application/json" role="button">
        <button class="px-4">
          Duplicate Record
        </button>
      </a>
    </div>
    <div class="mr-4">
      <a class="flex justify-center w-[160px] h-10 text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
        href="{{ links.edit_html or links.self_html }}" type="application/json" role="button">
        <button class="px-4">
          Edit
        </button>
      </a>
    </div>
    <div class="mr-4">
      <a class="flex justify-center w-[160px] h-10 text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
        href="{{links.export_path}}/json" type="application/json" role="button">
        <button class="px-4">
          Download entry
        </button>
      </a>
    </div>
    <RemoveButton self_link={ links.self } />
  </div>
</div>