{# def d, gp #}

<IValueList>
    <IField d={gp.record_information.external_identifier} label="DOI"  />
    <IField d={d.id} label="Record ID"  />
    <IField d={gp.record_information.date_available} label="Publication date"  />
    <IField d={gp.depositors}>
        <Depositors depositors={gp.depositors} />
    </IField>
    <IField d={gp.associated_publication}>
        <AssociatedPublication publication={gp.associated_publication} />
    </IField>
    <IField d={gp.record_information.license} >
        <License license={gp.record_information.license} />
    </IField>
    <IField d={gp.funding_references} >
        <Funding funding_refs={gp.funding_references} />
    </IField>
    <IField d={gp.technique} />
</IValueList>