{# def self_link #}
{%- block page_body %}
{% if self_link._ui_value.endswith("draft") %}

<div>
    <div id="delete-button" data-selflink="{{self_link}}"></div>
</div>
{% endif %}
{%- endblock page_body %}