{# def self_link #}

{% if self_link._ui_value.endswith("draft") %}
<div>
    <a class="flex justify-center h-[40px] text-20px bg-dark rounded-normal text-primary hover:text-dark hover:bg-primary transition-all"
        href="{{ self_link }}" type="application/json" role="button">
        <button class="px-4">
            Delete
        </button>
    </a>
</div>
{% endif %}