{# def self_link, state #}

{# Recordview template that creates the delete button id that is picked up by frontend #}

{%- block page_body %}
{# only create the button if the record is state the allows direct deletion #}
    {% if state._ui_value in ("draft", "submitted", "accepted") %}
        <div>
            <div id="delete-button" data-selflink="{{self_link}}"></div>
        </div>
    {% endif %}
{%- endblock page_body %}