{# def self_link #}

{% if self_link._ui_value.endswith("draft") %}
<div class="text-26px flex text-accent font-JostMedium mb-4">
    Draft
</div>
<div class="border-b-[.1px] border-accent mt-3 mb-6"></div>
{% endif %}