{# def self_link #}

{# Recordview template that renders the template (duplicate) button in such a
way that it an be picked up by the frontend #}

{%- block page_body %}
<div>
    <div id="template-button" data-selflink="{{self_link}}"></div>
</div>
{%- endblock page_body %}