{# def flow #}

<INonEmpty d={flow}>
    <div class="flex">
        <IField label='Flow' />
        <div>
            <IField label='Rate' d={flow.rate}/>
            <IField label='Unit' d={flow.unit}/>
            <IField label='Direction' d={flow.direction}/>

            {%- for path in array(flow.path) %}
                <div class="font-JostBold mb-2">Path {{ loop.index }}</div>
                {%- for object in array(path)%}
                    <div class='ml-4'>
                        <IField label="Measurement position" d={object.name} />
                    </div>
                {%- endfor %}
            {%- endfor %}
        </div>
    </div>
</INonEmpty>