{# def step #}

<IField label="Name" d={step.name} />

<IField label="Type" d={step.type} />

<IField label="Start time" d={step.start_time}>
    <ValueUnit value={step.start_time} />
</IField>

<IField label="Time length" d={step.time_length}>
    <ValueUnit value={step.time_length} />
</IField>

<IField label="Shaking speed" d={step.shaking_speed}>
    <ValueUnit value={step.shaking_speed} />
</IField>

<Flow flow={step.flow} />