{#def entities #}

<div style="display: grid; grid-template-columns: auto 1fr; column-gap: 1rem;">
  {% for entity in entities %}
    <MBDB.NameValue name="Name">{{ entity.name }}</MBDB.NameValue>
    <MBDB.NameValue name="Type">{{ entity.type }}</MBDB.NameValue>

    {% if entity.type == "Polymer" %}
      <MBDB.Entities.Polymer entity={{ entity }} />
    {% elif entity.type == "Complex substance of biological origin" %}
      <MBDB.Entities.Biological entity={{ entity }} />
    {% elif entity.type == "Molecular assembly" %}
    {% else %}
      <div>xx</div>
    {% endif %}

  {% endfor %}
</div>
