{#def entities #}

<MBDB.NameValue.List>
  {% for entity in entities %}
    <MBDB.NameValue.Item name="Name">{{ entity.name }}</MBDB.NameValue.Item>
    <MBDB.NameValue.Item name="Type">{{ entity.type }}</MBDB.NameValue.Item>

    {% if entity.type == "Chemical" %}
      <MBDB.Entities.Chemical entity={{ entity }} />
    {% elif entity.type == "Complex substance of biological origin" %}
      <MBDB.Entities.BiologicalOrigin entity={{ entity }} />
    {% elif entity.type == "Complex substance of chemical origin" %}
      <MBDB.Entities.ChemicalOrigin entity={{ entity }} />
    {% elif entity.type == "Complex substance of environmental origin" %}
      <MBDB.Entities.EnvironmentalOrigin entity={{ entity }} />
    {% elif entity.type == "Complex substance of industrial production origin" %}
      <MBDB.Entities.IndustrialOrigin entity={{ entity }} />
    {% elif entity.type == "Molecular assembly" %}
      <MBDB.Entities.MolecularAssembly entity={{ entity }} />
    {% elif entity.type == "Polymer" %}
      <MBDB.Entities.Polymer entity={{ entity }} />
    {% endif %}

    <MBDB.NameValue.Spacer />

  {% endfor %}
</MBDB.NameValue.List>
