{# def instrument #}

<MBDB.NameValue.List>
  <MBDB.NameValue.Item name="Manufacturer">
    {{ instrument.manufacturer }}
  </MBDB.NameValue.Item>
  <MBDB.NameValue.Item name="Name">
    {{ instrument.name }}
  </MBDB.NameValue.Item>
  <MBDB.NameValue.Item name="Model and details">
    {{ instrument.model }}
  </MBDB.NameValue.Item>
</MBDB.NameValue.List>
