{% macro measured_value(mvalue) %}
    {% if mvalue.value is defined and mvalue.unit is defined %}
      {{ mvalue.value ~ " " ~ mvalue.unit }} 
    {% else %}
      (Not provided)
    {% endif %}
      {% if mvalue.value_error is undefined %}
        (Error not provided)
      {% else %}
        {% set error_type = " %" if mvalue.value_error.errors_are_relative == True else "" %}
        (+ {{ mvalue.value_error.upper_error }} 
         - {{ mvalue.value_error.lower_error }}) {{ error_type }}
      {% endif %}
{% endmacro %}
