{%- macro person_name(person) %}
  {% if person.given_name is defined and person.family_name is defined %}
    <span>{{ person.given_name ~ " " ~ person.family_name }}</span>
  {% else %}
    (Not provided)
  {% endif %}  
{%- endmacro %}
