{% from "mbdb_mst_ui/Common/RenderIf.jinja" import render_if_exists %}

{%- macro record_header(title, ui) %}
  <div class="mbdbv-header-bar">
    <h1 class="ui header mbdbv-full-flex mbdbv-break-relaxed">
      {{ render_if_exists(title, "(Record has no title)") }}
    </h1>
    <a
        class="ui inverted red button"
        href="/api/mbdb-mst/{{ ui.id }}/draft"
        type="application/json"
        role="button"
    >
        <i class="ui icon download"></i>
        Download entry (HACK!)
    </a>
  </div>
{%- endmacro %}
