<div class="lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
    <div class="mx-8 lg:mx-16 xl:mx-20 2xl:mx-16">
        <div class="md:flex">
            <div class="text-22px mb-4 md:text-20px md:mr-6 md:mb-0">
                <span class="font-JostBold">Molecular Biophysics Database collects raw data</span> produced in experiments with biomolecular samples, biological material or other material, using molecular biophysics methods, such as Microscale Thermophoresis (MST), Biolayer interferometry (BLI), Surface Plasmon Resonance (SPR) and others.
            </div>
            <div class="text-22px md:text-20px">
                <span class="font-JostBold">MBDB</span> development is supported by the project <span class="font-JostBold">MOSBRI</span> - Molecular Scale Biophysics Research Infrastructure of the European Commission, no. 101004806
            </div>
        </div>
    </div>
</div>
