<div class="lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
    <div class="flex flex-col items-center mt-12 md:flex-row md:justify-center">
        <div class="m-6 md:m-8 lg:my-4 lg:mx-12 xl:mx-8">
            <a href="https://www.mosbri.eu/" target="_blank">
                <img class="cursor-pointer w-[13rem] md:w-[11rem] xl:w-[12rem]" src="/static/images/mosbri-logo.png"
                    alt="Mosbri logo" />
            </a>
        </div>
        <div class="m-6 md:m-8 lg:my-4 lg:mx-12 xl:mx-8">
            <a href="https://www.ibt.cas.cz/en/" target="_blank">
                <img class="cursor-pointer w-[12rem] md:w-[10rem] xl:w-[11rem]" src="/static/images/ibt-logo.png"
                    alt="Ibt logo" />
            </a>
        </div>
        <div class="m-6 md:m-8 lg:my-4 lg:mx-12 xl:mx-8">
            <a href="https://www.cesnet.cz/en/" target="_blank">
                <img class="cursor-pointer w-[13rem] md:w-[11rem] xl:w-[12rem]" src="/static/images/cesnet-logo.png"
                    alt="Cesnet logo" />
            </a>
        </div>
    </div>
</div>