<div class="mbdbv-max-width">
    <div>
        <div class="mbdbv-partners-container">
            <div class="mbdbv-partners-item">
                <a href="https://www.mosbri.eu/" target="_blank">
                    <img class="mbdbv-partners-logo-mosbri" src="../../../../../static/images/mosbri-logo.png" alt="Mosbri logo" />
                </a>
            </div>
            <div class="mbdbv-partners-item">
                <a href="https://www.ibt.cas.cz/cs/" target="_blank">
                    <img class="mbdbv-partners-logo-ibt" src="../../../../../static/images/ibt-logo.png" alt="Ibt logo" />
                </a>
            </div>
            <div class="mbdbv-partners-item">
                <a href="https://www.cesnet.cz/" target="_blank">
                    <img class="mbdbv-partners-logo-cesnet" src="../../../../../static/images/cesnet-logo.png" alt="Cesnet logo" />
                </a>
            </div>
        </div>
    </div>
</div>