{%- extends config.COVER_TEMPLATE %}

{%- block page_body %}
<div class="mbdbv-frontpage">
  <div class="mbdbv-frontpage-illustration">
    <img src="/static/images/mbdb-illustration.png"/>
  </div>
  <div class="mbdbv-max-width">
    <div class="mbdbv-frontpage-container">
      <div>
          <div class="mbdbv-frontpage-title">
            Molecular Biophysics Database
          </div>
          <div class="mbdbv-frontpage-text none">
            We have over xy records in our database</div>
      </div>
      <div class="mbdbv-frontpage-search-container">
          <form class="mbdbv-frontpage-search-form" action="mst" role="search">
            <div class="mbdbv-frontpage-search-input-button">
              <input class="mbdbv-frontpage-search-input" type="text" name="q" placeholder="{{ _('Search') }}">
              <button class="mbdbv-frontpage-search-button" type="submit" aria-label="{{ _('Search') }}"><img class="mbdbv-frontpage-search-icon" src="../../../../../static/images/search.png" alt="Search icon"/></button>
            </div>
            <div class="mbdbv-frontpage-search-methods mbdbv-frontpage-dropdown">
              <div>
                Only MST
              </div>
            </div>
          </form>
      </div>
      <div class="mbdbv-frontpage-additional-info-container mbdbv-frontpage-text">
        <div>Example: Lysozyme, NaCI, K_D, homo sapiens, xyhds-adf3t (record id)</div>
        <div class="mbdbv-frontpage-additional-info-advanced-search">
          <a href="/under-development">Advanced search</a>
        </div>
      </div>
    </div>
  </div>
</div>

<About />
<Techniques />
<Partners />

{%- endblock page_body %}
