{# def record, metadata, ui, extra_context, d, context #}

{% set md=d.metadata %}
{% set gp=md.general_parameters %}
{% set msp=md.method_specific_parameters %}

<RecordHeader md={md} links={d.links} />

{#
note: if you do not specify label for IField, it is taken directly from the model
(and translated to the current language) and thus is consistent with facets
#}

<IValueList>
    <IField d={d.id} label="Record ID" field_class="mbdbv-record-technique" />
    <IField d={gp.technique} field_class="mbdbv-record-technique" />
    <IField d={gp.depositors} field_class="mbdbv-record-technique">
        <Depositors depositors={gp.depositors} />
    </IField>
</IValueList>

{#
<IField label="Main Publication:" #} {# d={gp.associated_publication}#} {# field_class="mbdbv-record-technique">
    <AssociatedPublication d={gp.associated_publication} />
</IField>
#}


<div class="mbdbv-record-container mt-8">

    <Section title="Entities of interest">
        <EntitiesOfInterest entities={gp.entities_of_interest} />
    </Section>

    <Section title="Results">
        <bli.BLI.Results gp={gp} />
    </Section>

    <Section title="Chemical environments (buffers)">
        <ChemicalEnvironments chemical_environments={gp.chemical_environments} />
    </Section>

    <Section title="Measurements">
        <bli.BLI.Measurements gp={gp} msp={msp} />
    </Section>

    <Section title="Instrument">
        <Instrument instrument={gp.instrument} />
    </Section>

    <Section title="Raw measurement files">
        <RawMeasurements raw_measurements={gp.raw_measurements} files={extra_context.files} />
    </Section>

</div>