{# def record, metadata, ui, extra_context, d, context #}

{% set md=d.metadata %}
{% set gp=md.general_parameters %}
{% set msp=md.method_specific_parameters %}

<RecordHeader md={md} links={d.links} state={d.state} record={record} permissions={extra_context.permissions} />
<RecordInformation d={d} gp={gp} />

<div class="mt-8">

    <!-- Main Tabs Navigation -->
    <div class="border-b border-gray-200">
        <nav class="flex p-0 mb-2">
            <button class="main-tab hover:text-gray-700 border-b-2 border-transparent hover:border-gray-300 py-2 px-6 mr-3 transition-all rounded-normal outline-none" data-main-tab="tab1">Record view</button>
            <button class="main-tab hover:text-gray-700 border-b-2 border-transparent hover:border-gray-300 py-2 px-6 transition-all rounded-normal outline-none" data-main-tab="tab2">Detailed record view</button>
        </nav>
    </div>

    <!-- Main Tabs Content -->
    <div class="mt-6">
        <!-- First Tab -->
        <div id="tab1" class="main-tab-content">

            <Section title="Entities of interest">
                <EntitiesOfInterest entities={gp.entities_of_interest} />
            </Section>
        
            <Section title="Results">
                <Results gp={gp} />
            </Section>
        
            <Section title="Chemical environments (buffers)">
                <ChemicalEnvironments chemical_environments={gp.chemical_environments} />
            </Section>
        
            <Section title="Measurements">
                <bli.BLI.Measurements gp={gp} msp={msp} />
            </Section>
        
            <Section title="Instrument">
                <Instrument instrument={gp.instrument} />
            </Section>
        
            <Section title="Files">
                <Files files={extra_context.files} />
            </Section>

        </div>

        <!-- Second Tab -->
        <div id="tab2" class="main-tab-content hidden">

            <Section title="Entities of interest">
                <entitiesOfInterest.EntitiesOfInterestDetailedView entities={gp.entities_of_interest} />
            </Section>

            <Section title="Chemical environments">
                <ChemicalEnvironmentDetailedView chemical_environments={gp.chemical_environments} />
            </Section>

            <Section title="Instrument">
                <BLIInstrumentDetailedView instrument={gp.instrument} experimentType={msp.experiment_type} />
            </Section>

            <Section title="Plates">
                <PlatesDetailedView plates={msp.plates} />
            </Section>

            <Section title="Sensors">
                <BLISensorsDetailedView sensors={msp.sensors} />
            </Section>

            <Section title="Measurement protocol steps">
                <MeasurementProtocolStepsDetailedView steps={msp.measurement_protocol} />
            </Section>

            <Section title="Measurements">
                <BLIMeasurementsDetailedView measurements={msp.measurements} />
            </Section>

            <Section title="Results">
                <ResultsDetailedView results={gp.results} />
            </Section>

            <Section title="Data analysis">
                <DataAnalysisDetailedView dataAnalysis={msp.data_analysis} />
            </Section>

            <Section title="Files">
                <FilesDetailedView files={extra_context.files} />
            </Section>

        </div>

    </div>

</div>