{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<div class="text-dark text-18px m-4 lg:max-w-[1024px] lg:m-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
  <div class="mb-8 mt-16">
    <h1 class="font-JostBold text-24px">Tutorials</h1>
  </div>
  <div class="mb-8">
    <p class="font-JostBold my-2">We are still working on building the tutorial page</p>
    <div class="mb-4">
      <a class="underline" href="https://molecular-biophysics-database.github.io/mbdb-docs/record-workflows/prerequisites" target="_blank">What to prepare for a deposition</a>
    </div>
    <p>
      You need a valid email address and an ORCID account to make a deposition. If you don't have an ORCID
      account, you can create one <a class="underline" href="https://orcid.org/" target="_blank">here</a>
    </p>
  </div>
  <div class="mb-8">
    <div class="mb-4 text-20px font-JostMedium">
      How to deposit a dataset?
    </div>
    <div>
      <div class="mb-3">
        <span class="font-JostBold">1.</span> Click the <span
          class="bg-dark text-white py-2 px-4 rounded-normal hover:bg-secondary hover:text-dark transition-all cursor-pointer">Deposit</span>
        button in the top right corner
      </div>
      <div class="mb-3">
        <span class="font-JostBold">2.</span> Choose the method appropriate for your data
      </div>
      <div class="mb-3">
        <span class="font-JostBold">3.</span> Fill the form (We don't recommend to use
        a mobile device for this)
      </div>
      <div class="mb-3">
        <span class="font-JostBold">4.</span> Click the <span
          class="bg-dark text-white py-2 px-4 rounded-normal hover:bg-secondary hover:text-dark transition-all cursor-pointer">Submit</span>
        button to submit the record for review
      </div>
      <div class="mb-3">
        <span class="font-JostBold">5.</span> When the record has been accepted, click the <span
          class="bg-dark text-white py-2 px-4 rounded-normal hover:bg-secondary hover:text-dark transition-all cursor-pointer">Publish draft</span>
        button on the preview page to publish the record
      </div>
    </div>
    <p>
      (You can save your unfinished deposition at any time by
      pressing the save button, and come back to it later)</p>
  </div>
  <div class="lg:flex">
    <div class="border-dark border-[1px] rounded-normal p-4 mb-4 lg:mr-2 lg:mb-0">
      <h2 class="text-20px font-JostBold mb-2">Things that we're working on, but which aren't implemented yet</h2>
      <div>
        <div>- Automatic extraction of metadata from measurement files</div>
        <div>- Collections of records aren't implemented yet</div>
      </div>
    </div>
    <div class="border-dark border-[1px] rounded-normal p-4 lg:ml-2">
      <h2 class="text-20px font-JostBold mb-2">Additional information</h2>
      <div>
        <div>- To see the listing of all the records you have access to, press the search icon on the homepage while leaving the search
          field empty
        </div>
        <div>- By pressing the title, you'll get a simplified view of the record</div>
      </div>
    </div>
  </div>
</div>
</div>
{%- endblock page_body %}