{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<div>
  <div class="text-center mb-8">
    <h1>MBDB - Testing MST depositon</h1>
    <p>November 2023 - January 2024</p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      What's the task
      <span class="mbdbv-h2-underline"></span>
    </div>
    <p>Make one or more test depositions of an MST dataset and report back the shortcomings or bugs related to:</p>
    <ol>
      <li>Missing fields (i.e. I have information about the measurement I want to give, but I can't)</li>
      <li>Unnecessary fields (i.e I don't understand why this field is here)</li>
      <li>Unclear help text (i.e. I don't understand what I'm supposed to put in this field)</li>
      <li>Layout/functionality of deposition form (i.e. the current layout annoys me for reasons x, y, and z)</li>
    </ol>
    <p>Please have a look at the section "Known shortcomings" before reporting, and report back to <a class="link-in-text" href="mailto:mailto:mbdb@ibt.cas.cz?subject=MBDB%20-%20 Testing%20MST%20deposition">mbdb@ibt.cas.cz</a>. Other suggestions are of course also welcome, however, we'll prioritize the ones related to the points above, as changes to these things will become difficult when the MBDB is public.</p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Why should I do it?
      <span class="mbdbv-h2-underline"></span>
    </div>
    <p>As much as we enjoy writing code in peace and quiet, we want MBDB to be useful to people. Towards this end, we would appreciate your input while it's still not too painful to make changes. As soon as real data come in and people get used to doing depositions in a certain way, we'll be much more restricted in what we can change. Asking for changes now will save yourself and your lab colleagues from future annoyance, and make MBDB a much more useful resource!</p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Where and how?
      <span class="mbdbv-h2-underline"></span>
    </div>
    <p>You will need an ORCID account to make a deposition, so please make one <a class="link-in-text" href="https://orcid.org/">here</a> if you don't have one. The first time you log in to the MBDB you'll be asked for an email address, feel free to make one up. It does not have to be a real email address.</p>
    <ol>
      <li>Please go to the MBDB test server</li>
      <li>Proceed by:</li>
        <ol>
          <li>Logging in directly by clicking the ORCID logo</li>
          <li>Click on deposit (and be redirected to the login page)</li>
        </ol>
      <li>Use the form to make a deposition (it isn't recommended to use a mobile device for this)</li>
    </ol>
    <p>A few notes on the resulting record:</p>
    <ul>
      <li>You can save your work on a deposition at any time by pressing the save button, and come back to it later</li>
      <li>Don't worry about getting all the details perfectly right, your deposition won't be converted into a long-lived record</li>
      <li>Your deposition will be deleted at the end of the testing phase. We'll of course analyse it, but it will eventually be lost when we launch a new version of the MBDB</li>
      <li>We currently don't check that the uploaded measurement file contains measurements, so if you don't have an MST file at hand, feel free to upload a small PDF, xlxs, or similar</li>
    </ul>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Known shortcomings
      <span class="mbdbv-h2-underline"></span>
    </div>
    <ul>
      <li>Individual user rights are not implemented yet, i.e. anybody can change anybody else's record (please be nice to each other). We're working on it</li>
      <li>Only a small subset of organisms, affiliations, and grants are available in this test. Searching the online resources is under development</li>
      <li>Metadata is currently not extracted from the measurement files, we're working on it</li>
      <li>Collections of records (Projects and Measurement Groups) aren't implemented yet</li>
      <li>The documentation is still very sparse, we're working on it</li>
      <li>Searching in a more precise way than a text-based search is cumbersome at the moment. We're working on developing a tool to make this easier</li>
      <li>DOIs are not currently generated as we would then be required to keep the records indefinitely</li>
      <li>Inside the simplified view of a record, pressing "download" next to the files that have been uploaded currently doesn't give you the actual file, just information about it. We're working on fixing this</li>
    </ul>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Extras information
      <span class="mbdbv-h2-underline"></span>
    </div>
    <ul>
      <li>If you want to see the full record (in JSON format) you can display it using the "Download entry" button, and save the content to a file if you want</li>
      <li>If you want to see the listing of all the records currently deposited, press the search icon with an empty search field</li>
      <li>Pressing the title of a listing result gives you a simplified view of the record</li>
    </ul>
  </div>
</div>
{%- endblock page_body %}
