{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<div>
  <div class="text-center mb-8">
    <h1>MBDB - Testing MST depositon</h1>
    <p>June 2024 - August 2024</p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      What should I do?
      <span class="mbdbv-h2-underline"></span>
    </div>
    <p>Make one or more depositions of an MST dataset and report back if you find any shortcomings or bugs related to:
    </p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Why should I do it?
      <span class="mbdbv-h2-underline"></span>
    </div>
    <p>
      We want MBDB to be useful. Towards this end,
      we would appreciate your input. Asking for changes will save
      yourself and your lab colleagues from future annoyance, and make MBDB a much more useful
      resource!
    </p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      What do I need ?
      <span class="mbdbv-h2-underline"></span>
    </div>
      <ol>
        <li>
          A Valid email address
        </li>
        <li>
          You will need an ORCID account to make a deposition,
          so please make one
          <a class="link-in-text" href="https://orcid.org/">here</a>
          if you don't have one.
        </li>
      </ol>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      How should I do it?
      <span class="mbdbv-h2-underline"></span>
    </div>
    <ol>
      <li>Click the deposit button </li>
      <li>Choose MST</li>
      <li>
        Complete the form (it is not recommended to use
        a mobile device for this)
      </li>
    </ol>
    <p>
      Note You can save your unfinished deposition at any time by
      pressing the save button, and come back to it later</p>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Known shortcomings (that we're working on)
      <span class="mbdbv-h2-underline"></span>
    </div>
    <ul>
      <li>Metadata is currently not extracted from the measurement files</li>
      <li>
        Collections of records (Projects and Measurement Groups)
        aren't implemented yet.
      </li>
      <li>
        DOIs are currently generated using DataCite's test API
        and are therefore only resolveable via DataCite
      </li>
    </ul>
  </div>
  <div class="mb-8">
    <div class="mbdbv-h2-title mb-4">
      Extras information
      <span class="mbdbv-h2-underline"></span>
    </div>
    <ul>
      <li>
        If you want to see the listing of all the records currently deposited,
        press the search icon with an empty search field
      </li>
      <li>
        Pressing the title of a listing result gives you a simplified view
        of the record
      </li>
    </ul>
  </div>
</div>
{%- endblock page_body %}
