{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
    <div class="flex justify-center lg:justify-start lg:max-w-[1024px] mx-auto xl:max-w-[1280px] 2xl:max-w-[1440px]">
        <div class="lg:mx-8">
            <div class="font-JostMedium text-32px mb-4">
                Team of developers
            </div>
        
            <div id="developers-container" class="my-4 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4"></div>
        
            <div class="font-JostMedium text-32px mb-4">
                Other contributors
            </div>
        
            <div id="contributors-container" class="my-4 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4"></div>
        </div>
    </div>
{%- endblock page_body %}