{# def constituent #}

{# Recordview template that renders the individual constituents in the chemical
environment #}

<div>
    {{ constituent.name }}
    {{ constituent.concentration.value }}
    {{ constituent.concentration.unit }}
</div>
