{# def plates #}

{% for plate in array(plates, remove_empty=True) %}
{% set title='Plate ' ~ loop.index %}
<div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
    <SubSection title={ title }>
        <PlateDetailedView plate={plate} />
    </SubSection>
</div>
{% endfor %}