{# def plate #}

<IField label="Name" d={plate.name} />

<IField label="Wells" d={plate.wells} />

<IField label="type" d={plate.type} />

<IField label="Sealing" d={plate.sealing} />

<Supplier supplier={plate.supplier} />

<SurfaceModification modification={plate.surface_modification} />