{# def modification #}

<INonEmpty d={modification}>
    <div class='flex mb-2'>
        <IField label="Surface modification"/>
        
        <div>
            <IField label="Type" d={modification.type}/>
            <Protocol title="Protocol" protocols={modification.protocol} />
        </div>    
    </div>
</INonEmpty>

