{# def details #}

<IField label="Details" d={details}>

    <IField label="Assembly type" d={details.assembly_type} />
    
    <IField label="Number of mono layers" d={details.number_of_mono_layers} />
    
    <AdditionalSpecifications additional_specifications={details.additional_specifications} />
    
    <Size size={details.size} />

    {% for component in array(details.components) %}

    {% set title='Component ' ~ loop.index %}
        <SubSection title={ title }>
            <IField label="Copy Number" d={component.copy_number} />
            <EntityDetailedView entity={component} />
        </SubSection>
    {% endfor %}

</IField>