{# def size #}

<INonEmpty d={size}>
    <div class="font-JostBold mb-2">Size</div>
    <div class='ml-4'>
        <IField label="Type" d={size.type} />
        <IField label="Mean" d={size.mean} />
        <IField label="Unit" d={size.unit} />
        
        <IField label="Type" d={size.median} />
        <IField label="Upper" d={size.upper} />
        <IField label="Lower" d={size.lower} />
    </div>
</INonEmpty>