{# def entity #}

<itc.MBDB.Fields.MeasuredValueField label="Mw" value={entity.molecular_weight} />
<itc.MBDB.Fields.YesNoField label="Is chemically modified" value={entity.chemical_modifications} />
