{# def msp, gp #}

<div>
    <div class="mb-4 pb-8 border-b-[.1px] border-b-dark">
	<SubSection title="Experimental mode">
        <IField label="Type" d={ msp.mode.type }/>
	</SubSection>
    </div>

    {% for measurement in array(msp.measurements, remove_empty=True) %}
    {% set title='Measurement ' ~ loop.index %}
    <div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
        <SubSection title={ title }>
            <IField label="Name" d={ measurement.name }/>
            <IField label="Sample" d={ measurement.sample }>
                <mp.MP.Sample gp={gp} sample={ measurement.sample }/>
            </IField>
        </SubSection>
    </div>
    {% endfor %}
</div>
