{# def instrument, wavelength #}

<IField label='Name' d={instrument.title} />

<IField label="Manufacturer" d={instrument.manufacturer} />

<IField label="Primary laser wavelength" d={wavelength}>
    <ValueUnit value={wavelength} />
</IField>