{# def entity #}

{# Recordview template that renders the specific fields from the entity type "Complex substance of biological origin" #}

<IField label="Derived from" d={entity.derived_from} />

<IField label="Source organism" d={entity.source_organism} >
    <Organism organism={entity.source_organism} />
</IField>

<IField label="Protocols" d={entity.preparation_protocol}>
    <Protocol title="Preparation protocol step" protocols={entity.preparation_protocol} />
</IField>

<AdditionalSpecifications additional_specifications={entity.additional_specifications} />

<Storage storage={entity.storage} />

{%- if field_value(entity.derived_from) == "Body fluid"%}
<BodyFluid entity={entity} />
{%- elif field_value(entity.derived_from) == "Cell fraction" %}
<CellFraction entity={entity} />
{%- elif field_value(entity.derived_from) == "Virion" %}
<Virion entity={entity} />
{%- endif %}