{# def entity #}

<IField label="Fraction" d={entity.fraction.title} />

<IField label="Health status" d={entity.health_status} />

<IField label="Organ" d={entity.organ} />

<IField label="Tissue" d={entity.tissue} />

<IField label="Cell type" d={entity.cell_type} />