{# def entity #}

<IField label="Genetic material" d={entity.genetic_material} />

<IField label="Capsid type" d={entity.capsid_type} />

<IField label="Envelope type" d={entity.envelope_type} />

<IField label="Host organism" d={entity.host_organism.title} />

<IField label="Host cell type" d={entity.host_cell_type} />