{# def measurement #}

<IField label="Name" d={measurement.name} />

<IField label="Duration" d={measurement.duration}>
    <ValueUnit value={measurement.duration} />
</IField>

<IField label="Temperature" d={measurement.temperature}>
    <ValueUnit value={measurement.temperature} />
</IField>

<MPSample sample={measurement.sample} />

<IField label="Sample dilution" d={measurement.sample_dilution}>
    <IField label="Dilution buffer" d={measurement.sample_dilution.dilution_buffer.chemical_environment.name} />
    <IField label="Dilution factor" d={measurement.sample_dilution.dilution_factor} />
</IField>