{% from   "mst/Common/Emph.jinja" import emph %}
{% from   "mst/Common/NoValue.jinja" import no_value %}
{% from   "mst/Common/RenderIf.jinja" import render_if2 %}
{% from   "mst/MBDB/MeasuredValue.jinja" import measured_value %}
{% import "mst/MBDB/List/Itemization.jinja" as lit %}
{% import "mst/MBDB/NameValue/Index.jinja" as nv %}
{% from   "mst/MST/Sample/ConstituentInfo.jinja" import constituent_info %}

{%- macro sample(gp, samp) %}
  {% set chemical_environment = (gp.chemical_information.chemical_environments | selectattr("id", "equalto", samp.chemical_environment.id) | list)[0] %}
  {% set ionic_strength = chemical_environment | maybe_get("ionic_strength") %}
  {% set temperature = gp | maybe_get("gp.physical_conditions_at_sample_handling.temperature") %}
    
  {{ nv.list_open() }}
  {{nv.item("Buffer (chemical environment)", chemical_environment.name) }}
  {{nv.item("Buffer Constituents",
              lit.list(
                chemical_environment.constituents,
                constituent_info)) }}
  
  {{ nv.item("pH (Buffer)", measured_value(chemical_environment.ph)) }}
    {{ nv.item(
        "Ionic strength (Buffer)",
        render_if2(
          ionic_strength is defined,
          measured_value,
          no_value(),
          mvalue=ionic_strength))
      }}
  {{ nv.item(
        "Temperature",
        render_if2(
          temperature is defined,
          measured_value,
          no_value(),
          mvalue=temperature))
      }}

  {{ nv.item("Sample container", samp.container) }}
  {{ nv.list_close() }}   

{%- endmacro %}
