{% from   "mst/Common/Emph.jinja" import emph %}
{% from   "mst/Common/NoValue.jinja" import no_value %}
{% from   "mst/Common/RenderIf.jinja" import render_if2 %}
{% from   "mst/MBDB/MeasuredValue.jinja" import measured_value %}
{% import "mst/MBDB/List/Itemization.jinja" as lit %}
{% import "mst/MBDB/NameValue/Index.jinja" as nv %}
{% from   "mst/MST/Sample/ConstituentInfo.jinja" import constituent_info %}

{%- macro sample(gp, samp) %}
  {% set chemical_environment = (gp.chemical_environments | selectattr("id", "equalto", samp.chemical_environment.id) | list)[0] %}

  {{ nv.list_open() }}
  {{nv.item("Buffer (chemical environment)", chemical_environment.name) }}
  {{nv.item("Buffer Constituents",
              lit.list(
                chemical_environment.constituents,
                constituent_info)) }}

  {{ nv.item("pH (Buffer)", measured_value(chemical_environment.ph)) }}

  {{ nv.item("Sample container", samp.container) }}
  {{ nv.list_close() }}

{%- endmacro %}
