{# def additional_specifications #}

<INonEmpty d={additional_specifications}>
    <div class='flex mb-2'>
        <IField label="Additional specifications"/>
        <div>
            {%- for specification in array(additional_specifications)%}
                <div>{{ specification }}</div>
            {%- endfor%}
        </div>    
    </div>
</INonEmpty>