{# def external_databases #}

<INonEmpty d={external_databases}>
    <div class='flex mb-2'>
        <IField label="External Database"/>
        <div>
            {%- for database in array(external_databases)%}
                <div>
                {{ database }}
                </div>
            {%- endfor%}
        </div>    
    </div>
</INonEmpty>