{# def modifications #}

<INonEmpty d={modifications}>
    {%- for mod in array(modifications) %}
        <div class="font-JostBold mb-2">Chemical modification {{ loop.index }}</div>
        <div class="ml-4 mb-6">
            <IField label="Type" d={mod.type} />
            <IField label="Position" d={mod.position} />
            <div class='ml-4'>
                {%- for protocol in array(mod.protocol) %}
                    <div class="font-JostBold mb-2">Protocol {{ loop.index }}</div>
                    <div class='ml-4'>
                        <IField label="Name" d={protocol.name}/>
                        <IField label="Description" d={protocol.description} />
                    </div>
                {%- endfor %}
            </div>
        </div>
    {%- endfor %}
</INonEmpty>

<INonEmpty d={modifications.biological_postprocessing}>
    {%- for mod in array(modifications.biological_postprocessing) %}
        <div class="font-JostBold mb-2">Biological postprocessing {{ loop.index }}</div>
        <div class="ml-4 mb-6">
            <IField label="Type" d={mod.type} />
            <IField label="Position" d={mod.position} />
            <div class='ml-4'>
                {%- for protocol in array(mod.protocol) %}
                    <div class="font-JostBold mb-2">Protocol {{ loop.index }}</div>
                    <div class='ml-4'>
                        <IField label="Name" d={protocol.name}/>
                        <IField label="Description" d={protocol.description} />
                    </div>
                {%- endfor %}
            </div>
        </div>
    {%- endfor %}
</INonEmpty>
  
<INonEmpty d={modifications.chemical}>
    {%- for mod in array(modifications.chemical) %}
        <div class="font-JostBold mb-2">Chemical {{ loop.index }}</div>
        <div class="ml-4 mb-6">
            <IField label="Type" d={mod.type} />
            <IField label="Position" d={mod.position} />
            <div class='ml-4'>
                {%- for protocol in array(mod.protocol) %}
                    <div class="font-JostBold mb-2">Protocol {{ loop.index }}</div>
                    <div class='ml-4'>
                        <IField label="Name" d={protocol.name}/>
                        <IField label="Description" d={protocol.description} />
                    </div>
                {%- endfor %}
            </div>
        </div>
    {%- endfor %}
</INonEmpty>