{%- macro excitation_led(led_power, led_color) %}
  <div class="mbdbv-mst-excitation-led">
    <span class="mbdbv-emphasize">
      Power:
    </span>
    <span>
      {{ led_power }}
    </span>

    <span class="mbdbv-emphasize">
      Color:
    </span>
    <span>
      {{ led_color }}
    </span>
  </div>
{%- endmacro %}
