{# def power, color #}

<div class="mbdbv-mst-excitation-led">
  <span class="mbdbv-emphasize">
    Power:
  </span>
  <span>
    {{ power }}
  </span>

  <span class="mbdbv-emphasize">
    Color:
  </span>
  <span>
    {{ color }}
  </span>
</div>
