{# def analytes #}

<INonEmpty d={analytes}>
    {%- for analyte in array(analytes) %}
        <div class="font-JostBold mb-2">Analyte {{ loop.index }}</div>
        <div class='ml-4'>
            <IField label="Entity" d={analyte.entity.name}/>
            <IField label="Concentration" d={analyte.concentration}>
                <ValueUnit value={analyte.concentration} />
            </IField>
        </div>
    {%- endfor%}
</INonEmpty>
