{# def measurement #}

<IField label="Name" d={measurement.name} />

<IField label="Sensor" d={measurement.sensor.name} />

<IField label="Measurement protocol step" d={measurement.measurement_protocol_step.name} />

<BLISampleDetailedView sample={measurement.sample}/>