{# def constituents #}

<INonEmpty d={constituents}>
    <div class="flex">
        <IField label="Constituents" />
        <div>
            {% for constituent in array(constituents) %}

                <div class="font-JostBold mb-2">Constituent {{ loop.index }} / {{ constituent.name }}</div>
                   
                <div class="ml-4 mb-6">
                    <IField label="Concentration" d={constituent.concentration}>
                        <ValueUnit value={constituent.concentration} />
                    </IField>
                    <EntityDetailedView entity={constituent} />
                </div>

            {% endfor %}
        </div>
    </div>
</INonEmpty>