{# def location #}

{# Recordview template that renders location objects (from complex substance of
environmental origin) #}

<span>
    <span>Longitude: {{ location.longitude }}</span>
    <span>Latitude: {{ location.latitude }}</span>
</span>
