{# def raw_measurements, files #}

{% for file in files.entries %}
{% if file.metadata.context == "Raw measurement data" %}

<a class="flex justify-center w-fit py-2 px-4 text-18px bg-dark rounded-normal text-white hover:bg-secondary hover:text-dark transition-all"
    href="{{file.links.content}}" target="_blank">Download {{ file.key }}</a>

{% endif %}
{% endfor %}