{# def raw_measurements, files #}

{% for file in files.entries %}
    {% if file.metadata.context == "Raw measurement data" %}
        <a href="{{file.links.content}}" target="_blank">Download {{ file.key }}</a>
    {% endif %}
{% endfor %}


