{# def record, metadata, ui, extra_context, d #}

<section class="ui segment" aria-label='{{ _("Actions") }}'>
<h2 class="ui small header detail-sidebar-header">{{ _("Actions") }}</h2>
<RecordRequests record={record} />
</section>
