{# def msp, gp #}

<div>
    <SubSection title="Experimental setup">
        <IField label="Experiment type" d={ msp.experiment_type }/>
        <IField label="Measurement Protocol" d={msp.measurement_protocol}>
            <MeasurementProtocol measurement_protocol={msp.measurement_protocol} />
        </IField>
    </SubSection>

    {% for measurement in array(msp.measurements) %}
        {% set title='Measurement ' ~ loop.index %}
        <SubSection title={ title }>
            <IField label="Name" d={ measurement.name }/>
            <IField label="Position" d={ measurement.position }/>
            <Sample gp={gp} sample={ measurement.sample }/>
        </SubSection>
    {% endfor %}
</div>