{# def msp, gp #}

<div>
    <div class="mb-4 pb-8 border-b-[.1px] border-b-dark">
        <SubSection title="Experimental setup">
            <IField label="Experiment type" d={ msp.experiment_type }/>
            <IField label="Measurement Protocol" d={msp.measurement_protocol}>
                <MeasurementProtocol measurement_protocol={msp.measurement_protocol} />
            </IField>
        </SubSection>
    </div>

    {% for measurement in array(msp.measurements, remove_empty=True) %}
        {% set title='Measurement ' ~ loop.index %}
            <div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
                <SubSection title={ title }>
                <IField label="Name" d={ measurement.name }/>
                <IField label="Position" d={ measurement.position }/>

                <spr.SPR.Sample gp={gp} sample={ measurement.sample }/>
                </SubSection>
            </div>
    {% endfor %}
</div>
