{#def label, label_class="", data_class="", field_class="" #}

<div class="flex mb-1">
    <div class="mbdbv-name-value-item-name mb-1 {{label_class}}">{{ label }}</div>
    <div class="mbdbv-name-value-item-value mb-1 {{data_class}}">{{ content }}</div>
</div>