{#def label, label_class="", data_class="", field_class="" #}

<div class="mbdbv-name-value-item-name {{label_class}}">{{ label }}</div>
<div class="mbdbv-name-value-item-value {{data_class}}">{{ content }}</div>
