{# def entity #}

{# Recordview template that renders the specific fields from the entity type "Complex substance of environmental origin" #}
    
<IField label="Environment type" d={entity.environment_type.title} />

<IField label="Location" d={entity.location} >
    <LocationDetailedView location={entity.location} />
</IField>

<IField label="Protocols" d={entity.preparation_protocol}>
    <Protocol title="Preparation protocol step" protocols={entity.preparation_protocol} />
</IField>

<AdditionalSpecifications additional_specifications={entity.additional_specifications} />

<Storage storage={entity.storage} />