{# def location #}

<INonEmpty d={location}>
    <IField label="Latitude" d={location.latitude}/>
    <IField label="Longitude" d={location.longitude}/>
    <IField label="Altitude" d={location.altitude}/>
</INonEmpty>