{# def title=None #}

<div class="mbdbv-record-section-container mbdbv-block mbdbv-framed">
    {% if title %}<h3 class="mbdbv-record-section-title">{{ title }}</h3>{% endif %}
    <div class="mbdbv-name-value-list">
      {{ content }}
  </div>
</div>
