{# def value #}

{% set sc=scalar(value) %}

<span>
    {%- if sc is boolean -%}
      {{ "Yes" if sc else "False "}}
    {%- else -%}
      {{ "Yes" if sc and (sc | length) else "No" }}
    {%- endif -%}
</span>
