{# def measurement #}

<IField label="Name" d={measurement.name} />

<IField label="Measurement position" d={measurement.measurement_position.name} />

<IField label="Reference measurement position" d={measurement.reference_measurement_position.name} />

<SPRSampleDetailedView samples={measurement.samples}/>

<SPRReferenceSampleDetailedView samples={measurement.reference_samples}/>