{# def entity #}

<MBDB.NameValue.Item name="InChI key">{{ entity.inchikey }}</MBDB.NameValue.Item>
<MBDB.NameValue.Item name="Mw">
  <MBDB.MeasuredValue value={entity.molecular_weight} />
</MBDB.NameValue.Item>
