{% from   "mbdb_mst_ui/Common/NoValue.jinja" import no_value %}
{% from   "mbdb_mst_ui/Common/RenderIf.jinja" import render_if2 %}
{% from   "mbdb_mst_ui/Common/YesNo.jinja" import yes_no %}
{% from   "mbdb_mst_ui/MBDB/MeasuredValue.jinja" import measured_value %}
{% import "mbdb_mst_ui/MBDB/NameValue/Index.jinja" as nv %}

{%- macro molecular_assembly(entity) %}
  {{ nv.item(
      "Mw",
      render_if2(
        entity.molecular_weight is defined and entity.molecular_weight.value is defined,
        measured_value,
        no_value(),
        mvalue=entity.molecular_weight
      ))
  }}
  {{ nv.item("Is chemically modified", yes_no(entity.chemical_modifications)) }}
{%- endmacro %}
