{#def entity #}

<MBDB.NameValue.Item name="Mw">
  <MBDB.MeasuredValue value={{ entity.molecular_weight }} />
</MBDB.NameValue.Item>
<MBDB.NameValue.Item name="Is chemically modified">
  {{ "Yes" if entity.chemical_modifications | length > 0 else "No" }}
</MBDB.NameValue.Item>
