{% from   "mbdb_mst_ui/Common/NoValue.jinja" import no_value %}
{% from   "mbdb_mst_ui/Common/RenderIf.jinja" import render_if2 %}
{% import "mbdb_mst_ui/MBDB/NameValue/Index.jinja" as nv %}
{% from   "mbdb_mst_ui/MBDB/Entities/Polymer/Modifications.jinja" import modifications %}
{% from   "mbdb_mst_ui/MBDB/Organism.jinja" import organism %}

{%- macro polymer(entity) %}
  {{ nv.item(
      "Source organism",
      render_if2(
        entity.source_organism is defined,
        organism,
        no_value(),
        org=entity.source_organism)) }}
  {{ nv.item("Sequence", entity.sequence) }}
  {{ nv.item(
      "Modifications",
      render_if2(
        entity.modifications is defined,
        modifications,
        no_value(),
        mods=entity.modifications
      )) }}
{%- endmacro %}
