{# def record, metadata, ui, extra_context, d, context, embedded, pdf_embedded=false #}
{% set pdf_embedded = request.args.get("pdf_embedded", "false")|lower == "true" %}
{% extends "base/detail.html" %}

{%- block javascript %}
{{ super() }}
{{ webpack['oarepo_requests_ui_record_requests.js']}}
{%- endblock %}

{% set gp=d.metadata.general_parameters %}

{%- block head_meta %}
    {{ super() }}
    <MetaTags gp={gp} />
{% endblock head_meta %}

{%- block head_links %}
{{ super() }}
{%- endblock %}

{% block record_main_content %}
    <mp.Main metadata={metadata} ui={ui} extra_context={extra_context} record={record} d={d} context={context} embedded={embedded} pdf_embedded={pdf_embedded}/>
{% endblock %}