{# def dataAnalysis #}

{% for data in array(dataAnalysis, remove_empty=True) %}
{% set title='Data analysis ' ~ loop.index %}
<div class="mb-4 pb-8 border-b-[.1px] border-b-dark last:border-b-0 last:mb-0">
    <SubSection title={ title }>
        <DataDetailedView data={data} />
    </SubSection>
</div>
{% endfor %}